/* Customize the label (the container) */
.containerCheckbox {
    display: block;
    position: relative;
    padding: 0px 0px 0px 25px;
    margin: 22px -50px 0px 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .inputCheckboxBtn {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  /*.containerCheckbox:hover .inputCheckboxBtn {
    background-color: #ccc;
  }*/

  /* When the checkbox is checked, add a blue background */
  /*.inputCheckboxBtn:checked {
    background-color: #2196F3;
  }*/
  /* On mouse-over, add a grey background color */
  .containerCheckbox:hover .inputCheckboxBtn ~ .checkmark {
    background-color: #ccc;
    border-radius:3px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .inputCheckboxBtn:checked ~ .checkmark {
    background-color: #2196F3;
    border-radius:3px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .inputCheckboxBtn:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .imgThorn {
    vertical-align:sub;
    width: 25px;
    height: 25px;
    padding-left: 2px;
  }