.selectSeasonTyre {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 3px;
    margin: 5px;
    
}

.selectSeasonTyreItem {
    border-bottom: solid #ffff 3px;
}

.selectSeasonTyreItem:hover {
    /*text-decoration: solid underline #71C2FF 3px;*/
    cursor: pointer;
    border-bottom: #71C2FF solid 3px;
}

.selectSeasonTyreItem:after {
    font-weight: bold;
}

.inputSeasonTyreItem {
    appearance: none;
    border-radius: 50%;
    background-color: #CADBEA;
    width: 16px;
    height: 16px;

    /*border: 2px solid #999;*/
    transition: 0.2s all linear;

}

.inputSeasonTyreItem:checked {
    background-color: #71C2FF;
    /*text-decoration-style: double;*/
    /*font-weight: bold;*/
}