.allAboutProduct {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*max-width: 650px;*/
    height: 650px;
    /* border:3px solid blue; */
    gap: 3px;
    padding: 3px;
    font-family: var(--main-font-family);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #ffff;
}
.allProductImgBox {
    width: 450px;
    height: 450px;
    /* border:3px solid greenyellow; */
}

#productImgGoods {
    
    width: 400px;
    height: 400px;

}

.allAboutProductInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border:3px solid red; */
    padding: 25px;
    width: 575px;
    /*height: 50px;*/
    gap:8px;
}

.allAboutProductInfo .productInfoName {
    font-size: 22px;
    font-family: var(--main-font-family);
    font-weight: bold;
}
.productInfoProps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.productInfoCode {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 55px;
    
}

.productInfoCodeStock {
    /* background-color: #71C2FF; */
    border-radius: 20px;
    padding: 5px;
    font-family: var(--main-font-family);
    font-weight: bold;
}
.productInfoCodeStock i {
    margin: 5px;
    background-color: green;
    padding: 5px;
    border-radius: 50%;
}

.productInfoCodeStockExclam {
    /* background-color: #71C2FF; */
    border-radius: 20px;
    padding: 5px;
    font-family: var(--main-font-family);
    font-weight: bold;
}

.productInfoCodeStockExclam i {
    margin: 5px;
    background-color: orange;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
}

.productInfoCodeStockNotAval {
    /* background-color: #71C2FF; */
    border-radius: 20px;
    padding: 5px;
    font-family: var(--main-font-family);
    font-weight: bold;
}

.productInfoCodeStockNotAval i {
    margin: 5px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
}
.productBonus {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.productInfoCountry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productRightgBox {
    width: 380px;
    overflow: hidden;
    /* border:3px solid goldenrod; */
    padding: 10px;
}

.productInfoPrice {
    text-align: center;
    font-size: 24px;
    font-family: var(--main-font-family);
    font-weight: bold;
}

.productInfoRatingLink {
    text-decoration: none;
}

.additionalTools {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.additionalToolsLabel {
    cursor: pointer;
    padding: 6px;
}

.additionalTools img {
    width: 38px;
    height: 38px;
    vertical-align: middle;
}

.additionalToolsLabel:hover {
    background-color:#ccc;
    border-radius:25px;
}

.btnGoodsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:10px;
}

.btnGoodsBoxTwo {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    gap:10px;
    margin: 5px;
}
.btnGoodsBoxTwo input {
    border-radius: 8px;
    border: 2px solid #ccc;
    height: 40px;
    padding: 3px;
    text-decoration: solid #666;
    text-decoration-skip:var(--main-font-family);
    font-size: large;

}

.attentionGoods {
    margin-top: 10px;
    font-size: 14px;
    font-family: var(--main-font-family);
}

.checkboxGoodsShield {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -10px;
}

.iconFavoriteProduct::before {
    font-family: 'Font Awesome 5 Free';
    content:"\f004";
    font-style: normal;
    font-size:xx-large;
    color: #666;
    /* font-weight: 500; */
    /* font: var(--fa-font-regular); */
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.iconFavoriteProduct:hover {
    /* font-family: 'Font Awesome 5 Free'; */
    content:"\f004";
    font-weight: 900;
    font-style: normal;
    font-size:xx-large;
    color: #71C2FF;
    cursor: pointer;
}

.iconCompareProduct::before {
    font-family: 'Font Awesome 5 Free';
    content:"\f24e";
    font-style: normal;
    font-size:xx-large;
    color: #666;
    font-weight: 600;
    /* font: var(--fa-font-regular); */
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.iconCompareProduct:hover {
    /* font-family: 'Font Awesome 5 Free'; */
    content:"\f24e";
    font-weight: 900;
    font-style: normal;
    font-size:xx-large;
    color: #71C2FF;
    cursor: pointer;
}
