.allAboutProduct {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3px;
    flex-wrap: wrap;
    /*max-width: 650px;*/
    /* height: 650px; */
    /* border:3px solid blue; */
    padding: 3px;
    font-family: var(--main-font-family);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #ffff;
}
.allProductImgBox {
    width: 450px;
    height: 450px;
    /* border:3px solid greenyellow; */
}

#productImgGoods {
    width: 400px;
    height: 400px;
}

.allAboutProductInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border:3px solid red; */
    padding: 25px;
    /* width: 575px; */
    /* width: 100%; */
    /*height: 50px;*/
    gap:8px;
}

.allAboutProductInfo .productInfoName {
    font-size: 22px;
    font-family: var(--main-font-family);
    font-weight: bold;
}
.productInfoProps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.productInfoCode {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 55px;
    
}

.productInfoCodeStock {
    /* background-color: #71C2FF; */
    border-radius: 20px;
    padding: 5px;
    font-family: var(--main-font-family);
    font-weight: bold;
}
.productInfoCodeStock i {
    margin: 5px;
    background-color: rgb(96, 179, 96);
    padding: 5px;
    border-radius: 50%;
}

.productInfoCodeStockExclam {
    /* background-color: #71C2FF; */
    border-radius: 20px;
    padding: 5px;
    font-family: var(--main-font-family);
    font-weight: bold;
}

.productInfoCodeStockExclam i {
    margin: 5px;
    background-color: orange;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
}

.productInfoCodeStockNotAval {
    /* background-color: #71C2FF; */
    border-radius: 20px;
    padding: 5px;
    font-family: var(--main-font-family);
    font-weight: bold;
}

.productInfoCodeStockNotAval i {
    margin: 5px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
}
.productBonus {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.productBonusReview {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.productInfoCountry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.productRightgBox {
    width: 380px;
    overflow: hidden;
    /* border:3px solid goldenrod; */
    padding: 10px;
}

.productInfoPrice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    font-size: 24px;
    font-family: var(--main-font-family);
    font-weight: bold;
}
.productInfoOldPrice {
    font-size: 24px;
    font-family: var(--main-font-family);
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-color: red;
}

.productInfoRatingLink {
    text-decoration: none;
}

.productInfoRating {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.imgAllAboutProduct {
    margin-left: 160px;
}

.additionalTools {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
}

.additionalToolsLabel {
    cursor: pointer;
    padding: 6px;
    
}

.additionalToolsLabelText {
    margin-left: 5px;
    vertical-align:super;
}

.additionalTools img {
    width: 38px;
    height: 38px;
    
}

.additionalToolsLabel:hover {
    background-color:#ccc;
    padding: 6px;
    border-radius:25px;
}

.btnGoodsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:10px;
    width: 100%;
}

.btnGoodsBoxTwo {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap:10px;
    margin: 5px;
}
.btnGoodsBoxTwo input {
    border-radius: 8px;
    border: 2px solid #ccc;
    height: 40px;
    padding: 3px;
    text-decoration: solid #666;
    text-decoration-skip:var(--main-font-family);
    font-size: large;

}

.attentionGoods {
    margin-top: 10px;
    font-size: 14px;
    font-family: var(--main-font-family);
}

.checkboxGoodsShield {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -10px;
}

.iconFavoriteProduct::before {
    font-family: 'Font Awesome 5 Free';
    content:"\f004";
    font-style: normal;
    font-size:xx-large;
    color: #666;
    /* font-weight: 500; */
    /* font: var(--fa-font-regular); */
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.iconFavoriteProductActive:active {
    font-family: 'Font Awesome 5 Free';
    content:"\f004";
    font-weight: 400;
    font-style: normal;
    font-size:xx-large;
    border-radius: 50%;
    background-color:#cccc;
    cursor: pointer;
}

.iconFavoriteProductActive::before {
    font-family: 'Font Awesome 5 Free';
    content:"\f004";
    font-style: normal;
    font-size:xx-large;
    color: #71C2FF;
    font-weight: 600;
    /* font: var(--fa-font-regular); */
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.iconCompareProduct::before {
    font-family: 'Font Awesome 5 Free';
    content:"\f24e";
    font-weight: 600;
    font-style: normal;
    font-size:xx-large;
    color: #666;
    /* font-weight: 500; */
    /* font: var(--fa-font-regular); */
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.iconCompareProductActive::before {
    font-family: 'Font Awesome 5 Free';
    content:"\f24e";
    font-style: normal;
    font-size:xx-large;
    color: #71C2FF;
    font-weight: 600;
    /* font: var(--fa-font-regular); */
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.tyresCardBonusTextReview {
    position: relative;
    font-family: var(--main-font-family);
    cursor: pointer;
    text-decoration: underline;
}

.tyresCardBonusTextReview .tooltipCardBonusText {
    visibility: hidden;
    width: 210px;
    height: 210px;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size:small; 
    font-weight: normal;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: -90%;
    opacity: 0;
    transition: opacity 0.3s;
}
/* Tooltip arrow */
.tyresCardBonusTextReview .tooltipCardBonusText::after {
    content: " ";
    position: absolute;
    bottom: -4.5%;
    right: 48%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:#444 transparent transparent transparent; 
}
/* Show the tooltip text when you mouse over the tooltip container */
.tyresCardBonusTextReview:hover .tooltipCardBonusText {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

@media only screen and (max-width: 2560px) {
    .allProductImgBox {
        width: 450px;
        height: 450px;
        /* border:3px solid greenyellow; */
    }
    
    #productImgGoods {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 1440px) {
    .allProductImgBox {
        width: 450px;
        height: 450px;
        /* border:3px solid greenyellow; */
    }
    
    #productImgGoods {
        width: 400px;
        height: 400px;
    }

    .productRightgBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 650px;
        overflow: hidden;
        /* border:3px solid goldenrod; */
        padding: 10px;
        gap: 15px;
    }

    .attentionGoods {
        width: 300px;
        margin-top: 10px;
        font-size: 14px;
        font-family: var(--main-font-family);
    }

    .allAboutProduct {
        justify-content: center;
    }
}

@media only screen and (max-width: 1024px) {
    .allProductImgBox {
        width: 450px;
        height: 450px;
        /* border:3px solid greenyellow; */
    }
    
    #productImgGoods {
        width: 400px;
        height: 400px;
    }

    .productRightgBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 650px;
        overflow: hidden;
        /* border:3px solid goldenrod; */
        padding: 10px;
        gap: 15px;
    }

    .attentionGoods {
        width: 300px;
        margin-top: 10px;
        font-size: 14px;
        font-family: var(--main-font-family);
    }

    .allAboutProduct {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .allProductImgBox {
        max-width: 425px;
        max-height: 425px;
        /* border:3px solid greenyellow; */
    }
    
    #productImgGoods {
        max-width: 400px;
        max-height: 400px;
    }

    .productRightgBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 650px;
        overflow: hidden;
        /* border:3px solid goldenrod; */
        padding: 10px;
        gap: 15px;
    }

    .attentionGoods {
        width: 300px;
        margin-top: 10px;
        font-size: 14px;
        font-family: var(--main-font-family);
    }
    .allAboutProductInfo {
        max-width: 425px;
        padding: 10px;
    }

    .allAboutProduct {
        justify-content: center;
    }
}

@media only screen and (max-width: 425px) {
    .allProductImgBox {
        width: 375px;
        height: 375px;
        /* border:3px solid greenyellow; */
    }
    
    #productImgGoods {
        width: 350px;
        height: 350px;
    }

    .allAboutProductInfo {
        max-width: 375px;
        padding: 10px;
    }

    .allAboutProduct {
        justify-content: center;
    }
}

@media only screen and (max-width: 375px) {
    .allProductImgBox {
        width: 320px;
        height: 320px;
        /* border:3px solid greenyellow; */
    }
    
    #productImgGoods {
        width: 300px;
        height: 300px;
    }

    .allAboutProductInfo {
        max-width: 320px;
        padding: 10px;
    }

    .allAboutProduct {
        justify-content: center;
    }
}

@media only screen and (max-width: 320px) {
    .allProductImgBox {
        width: 300px;
        height: 300px;
        /* border:3px solid greenyellow; */
    }
    
    #productImgGoods {
        width: 280px;
        height: 280px;
    }
    .allAboutProductInfo {
        max-width: 300px;
        padding: 10px;
    }

    .allAboutProduct {
        justify-content: center;
    }
}


