.allModelBrands {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.allModelBrands .allModelBrandsAnch {
    border-radius: 25px;
    background-color:#fff;
    cursor: pointer;
    padding: 13px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
}


.allModelBrands .allModelBrandsAnch:hover {
    background-color:#fff;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
}