.allModelBrandsBox {
    display: block;
    margin: 10px;
    width: 100%;
}

.allModelBrands {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px;
    font-family: var(--main-font-family);
}

.allModelBrands .allModelBrandsAnch {
    border-radius: 25px;
    background-color:#fff;
    cursor: pointer;
    padding: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
    text-decoration: none;
    /* word-break:keep-all; */
    width: 100%;
    height: 100%;
}


.allModelBrands .allModelBrandsAnch:hover {
    background-color:#fff;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
    text-decoration: none;
}

@media only screen and (max-width: 2560px) {
    .allModelBrandsBox {
        max-width: 1420px;
    }
}

@media only screen and (max-width: 1440px) {
    .allModelBrandsBox {
        max-width: 1004px;
    }
}

@media only screen and (max-width: 1024px) {
    .allModelBrandsBox {
        max-width: 748px;
    }
}

@media only screen and (max-width: 768px) {
    .allModelBrandsBox {
        max-width: 405px;
    }
    .allModelBrands {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
    }
    .allModelBrandsAnch {
        max-width: 260px;
    }
}

@media only screen and (max-width: 425px) {
    .allModelBrandsBox {
        max-width: 355px;
    }
}

@media only screen and (max-width: 375px) {
    .allModelBrandsBox {
        max-width: 300px;
    }
}

@media only screen and (max-width: 320px) {
    .allModelBrandsBox {
        max-width: 280px;
    }
}