.allTyreModelSize {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.allTyreModelSize .allTyreModelSizeAnch {
    border-radius: 25px;
    background-color:#fff;
    cursor: pointer;
    padding: 13px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
}

.allTyreModelSize span {
    font-size: 16px;
    font-family: var(--main-font-family);
    font-weight: bold;
    color:#444B54;
}

.allTyreModelSize .allTyreModelSizeAnch:hover {
    background-color:#eee;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
}