.propertiesGoods {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    width: 100%;
    gap: 10px;
    border-radius:0px 0px 8px 8px;
    background-color:#fff;
    font-family: var(--main-font-family);
}
.tooltiPropertiesGoods {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-size: 16px;
}
.tooltiPropertiesGoodsText {
    width: 100%;
}
.tooltiPropertiesGoods .tooltiTextPropertiesGoods {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -70%;
    left: 115%;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltiPropertiesGoods .tooltiTextPropertiesGoods::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; 
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}
.tooltiPropertiesGoods:hover .tooltiTextPropertiesGoods {
    visibility: visible;
    opacity: 1;
}
@media only screen and (max-width: 2560px) {
    .propertiesGoods {
        max-width: 1410px;
    }
}
@media only screen and (max-width: 1440px) {
    .propertiesGoods {
        max-width: 994px;
    }
}
@media only screen and (max-width: 1024px) {
    .propertiesGoods {
        max-width: 738px;
    }
}
@media only screen and (max-width: 768px) {
    .propertiesGoods {
        max-width: 395px;
    }
}
@media only screen and (max-width: 425px) {
    .propertiesGoods {
        max-width: 345px;
    }
}
@media only screen and (max-width: 375px) {
    .propertiesGoods {
        max-width: 290px;
    }
}
@media only screen and (max-width: 320px) {
    .propertiesGoods {
        max-width: 290px;
    }
}