/* .tyreMarkingBox {
    position: relative;
} */
#imgTyreMarking {
    width:300px;

}

.tyreMarkingFuelCount span {
    position: relative;
    top: 485px;
    right: 293px;
    font-size: 24px;
    font-family: var(--main-font-family);
    font-weight: bold;
    color: black;

}

.tyreMarkingWetCount span {
    position: absolute;
    top: 486px;
    right: 148px;
    font-size: 24px;
    font-family: var(--main-font-family);
    font-weight: bold;
    color: black;
}

.tyreMarkingNoiseCount {
    position: absolute;
    top: 616px;
    right: 358px;
    font-size: 15px;
    font-family: var(--main-font-family);
    font-weight: bold;
    color: black;
}

.tyreMarkingTyreSize span {
    position: relative;
    bottom: 378px;
    left: 20px;
    font-size: 15px;
    font-family: var(--main-font-family);
    font-weight: bold;
    color: black;
}

.tyreMarkingBrandName span {
    position: relative;
    bottom: 383px;
    left: 20px;
    font-size: 15px;
    font-family: var(--main-font-family);
    font-weight: bold;
    color: black;
}

