.basketOrder {
    display: grid;
    grid-template-columns: 38% 58%;
    /* grid-template-columns: repeat(2, 48%); */
    /* border:2px solid yellow; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    gap: 20px;
    font-family: var(--main-font-family);
    overflow: hidden;
    margin-left: 45px;
    margin-right: 45px;
    padding: 15px;
}

.basketColmLeft {
    grid-column: 1/1;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5px;
    margin-left: 20px;
}

.basketColmRight {
    grid-column: 2/2;
    border: 2px solid green;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5px;
}

.basketColmRightListGoods {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5px;
    max-height: 350px;
    overflow-y: auto;
    
}
.basketColmRightListGoods .itemGoodsBasket {
    display:inline-flex;
    
}

.itemGoodsBasket span {
    vertical-align:middle;
}

.basketColmItemLeft {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 3px;
}

.basketColmItemRight {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 3px;
}

.commentsBasketOrder {
    width: 340px;
    height: 150px;
}

.totalCount {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 10px;
    gap: 5px;
}

