.basketNav {
  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align:bottom;
    /*margin-right: 20px;*/
 
}

#imgBasketNav {
    margin-top:8px;
    width: 35px;
    height: 35px;

}

.basketNav:hover {
    background: #CADBEA;
    cursor: pointer;
}

.basketNavCount {
    position:absolute;
    top:42px;
    right:28px;
    width: 25px;
    height: 20px;
    border-radius:25px;
    background-color:red;
    text-align:center;
    vertical-align:text-top;
}

.basketNavCount span {
    color:#ffff;
    font-weight: bold;

}