.basketOrder {
    display: grid;
    grid-template-columns: 36% 61.8%;
    /* grid-template-columns: repeat(2, 48%); */
    /* border:2px solid yellow; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    gap: 20px;
    font-family: var(--main-font-family);
    overflow: hidden;
    margin-left: 45px;
    margin-right: 45px;
    /* margin-top: 10px; */
    margin-bottom: 45px;
    padding: 15px;
}
.noBasketGoods {
    display: inline-block;
    font-family: var(--main-font-family);
    left: 45%;
    margin-left: 70px;
    margin-right: 55px;
    margin-bottom: 50px;
    margin-top: 15px;
    width: 90%;
    height: 240px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #ffff;
    padding: 40px;
    color: #444B54;
}
.basketOrderInputBonus {
    border: solid 2px #9999;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size:small;
    font-family: var(--main-font-family);
    margin: 3px;
}
.basketColmLeft {
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5px;
    margin-left: 20px;
    width: 100%;
}
.basketColmRight {
    grid-column: 2/2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5px;
    width: 100%;
}
.basketColmRightListGoods {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5px;
    padding-top: 8px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 10px;
    /* max-width: 850px; */
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
}
.basketColmRightListGoods .itemGoodsBasket {
    display:inline-flex;
    
}
.basketColmRightClose {
    text-align: center;
    position: relative;
    top: 34%;
    right:-1%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 6px;
}
.basketColmRightClose::before {
    content: "✖";
    color: black;
}
.basketColmRightClose:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.basketColmRightCheckbox {
    margin: 10px;
    width: 300px;
    position: relative;
}
.basketColmRightCheckbox .tooltipBasketOrderDopGar {
    visibility: hidden;
    width: 120px;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size:small; 
    font-weight: normal;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -32%;
    left: 75%;
    opacity: 0;
    transition: opacity 0.3s;
}
/* Tooltip arrow */
.basketColmRightCheckbox .tooltipBasketOrderDopGar::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #444 transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.basketColmRightCheckbox:hover .tooltipBasketOrderDopGar {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}
.basketColmItemLeft {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 3px;
    width: 100%;
}
.basketCityList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: absolute;
    top: 78%;
    overflow-y: auto;
    max-height: 150px;
    border-radius: 8px;
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;
    width: 100%;
}
.basketCityList .basketCityListItem {
    cursor: pointer;
    width: 550px;
    border-radius: 6px;
    padding: 2px;
}
.basketCityList .basketCityListItem:hover {
    background-color: #ccc;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.basketCityList label {
    cursor: pointer;
    border-radius: 6px;
    padding: 2px;
}

.basketCityList input {
    appearance: none;
}

.basketDepartList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    font-family: var(--main-font-family);
    overflow-y: auto;
    max-height: 150px;
    border-radius: solid #9999 6px;
    background-color: #ffff;
    appearance: none;
    border-radius: 10px;
}
.basketDepartList::after {
    content: "▼";
    font-size: 1rem;
    top: 0.5px;
    right: 5px;
    position: absolute;
    z-index: 9;
  }

.basketDepartList .basketDepartListItem {
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    padding: 2px;
}

.basketSelectDepart {
    appearance: none;
    cursor: pointer;
    width: 100%;
    font-family: var(--main-font-family);
    color: #444B54;
    font-size:16px;
    border-radius: 10px;
    border-color: #9999;
    border-style: solid;
    border-width: 2px;
    padding: 3px;
    z-index: 9;
}

.basketDepartListDel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    font-family: var(--main-font-family);
    top: 50%;
    overflow-y: auto;
    max-height: 150px;
    border-radius: solid #9999 6px;
    background-color: #ffff;
    appearance: none;
}
.basketDepartListDel::after {
    content: "▼";
    font-size: 1rem;
    top: 0.5px;
    right: 5px;
    position: absolute;
    z-index: 9;
}
.basketDepartListDel .basketDepartListItem {
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    padding: 2px;
}
.basketSelectDepartDel {
    appearance: none;
    cursor: pointer;
    width: 100%;
    font-family: var(--main-font-family);
    color: #444B54;
    font-size:16px;
    border-radius: 10px;
    border-color: #9999;
    border-style: solid;
    border-width: 2px;
    padding: 3px;
    z-index: 9;
}

.basketDepartList option:hover {
    cursor: pointer;
    background-color: #ccc;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.basketColmItemRight {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 3px;
}
.basketColmItemRight #commentsOrder {
    font-family: var(--main-font-family);
    font-size: medium;
}

.commentsBasketOrder {
    width: 340px;
    height: 150px;
}

.totalCount {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 10px;
    gap: 5px;
}
.basketOrderPriceOver {
    display: inline-block;
    color: #444B54;
    font-size:larger;
}
.basketOrderIsOver {
    font-family: var(--main-font-family);
    color: #444B54;
    font-size:larger;
    font-weight: bold;
}
.basketOrderOldPrice {
    text-decoration:line-through;
    color: #444B54;
    font-size: larger;
    text-decoration-color: red;
    text-decoration-thickness: 2.5px;
}
.basketOrderNewPrice {
    color: #444B54;
    font-size:larger;   
    margin-left: 65px;
}

.basketOrderDopGar {
    display: inline-block;
    color: #444B54;
    font-size:large;
}
.basketOrderSumGoods {
    display: inline-block;
    color: #444B54;
    font-size:larger;
}
.basketOrderComissionPrice {
    display: inline-block;
    color: #444B54;
    font-size:large;
}

.basketOrderDelPrice {
    display: inline-block;
    color: #444B54;
    font-size:large;
}
.basketOrderSkyBonus {
    position: relative;
}

.basketOrderSkyBonus img {
    vertical-align:middle;
}

.basketOrderGetBonusText {
    display: inline-block;
    color: #444B54;
    font-size:large;    
}

.basketOrderSkyBonus .tooltipBasketOrderSkyBonus {
    visibility: hidden;
    width: 120px;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size:small; 
    font-weight: normal;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -185%;
    left: 105%;
    opacity: 0;
    transition: opacity 0.3s;
}
/* Tooltip arrow */
.basketOrderSkyBonus .tooltipBasketOrderSkyBonus::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #444 transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.basketOrderSkyBonus:hover .tooltipBasketOrderSkyBonus {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.basketInputSearchCity {
    border: solid 2px #9999;
    border-radius: 10px;
    padding: 3px;
    width: 100%;
    z-index: 9;
    /* font-weight:bolder; */
    font-size: 16px;
    font-family: var(--main-font-family);
}

.basketInputSearchCity:focus {
    border: solid 2px #cccc; 
}

.basketInputSearchCity:hover {
    border: solid 2px #999; 
}

.basketInputSearchCity::placeholder {
    color: #999;
    text-align: center;
}

.basketInputSearchCityLabel {
    font-weight:bolder;
    color: #444B54;
}

.basketOrder span {
    font-weight:bolder;
    color: #444B54;
}

.basketOrderNotes {
    font-size: small;
    font-weight: bold;
    font-family: var(--main-font-family);
    color: red;
}

@media only screen and (max-width: 2560px) {
    .basketCityList {
        max-width: 550px;
    }

    .basketCityList .basketCityListItem {
        max-width: 550px;
    }
    
    .basketDepartList .basketDepartListItem {
        max-width: 540px;
    }
    
    .basketSelectDepart {
        max-width: 480px;
    }

    .basketSelectDepartOption {
        max-width: 480px;
    }

    .basketDepartListDel .basketDepartListItem {
        max-width: 540px;
    }
    .basketSelectDepartDel {
        max-width: 480px;
    }
 

}
@media only screen and (max-width: 1440px) {
    .basketOrder {
        grid-template-columns: 36% 61.8%;
    }
    .basketColmLeft {
        max-width: 380px;
    }

    .basketColmRightListGoods {
        max-width: 800px;
    }

    .basketColmRight {
        max-width: 800px;
    }

    .basketInputSearchCity {
        width: 315px;
    }

    .basketCityList {
        max-width: 500px;
    }

    .basketCityList .basketCityListItem {
        max-width: 500px;
    }
    
    .basketDepartList .basketDepartListItem {
        max-width: 540px;
    }
    
    .basketSelectDepart {
        max-width: 480px;
    }

    .basketSelectDepartOption {
        max-width: 240px !important;
    }

    .basketDepartListDel .basketDepartListItem {
        max-width: 540px;
    }
    .basketSelectDepartDel {
        max-width: 480px;
    }
}

@media only screen and (max-width: 1024px) {
    .basketOrder {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       max-width: 760px;
       margin-left: auto;
       margin-right: auto;
    }

    .basketInputSearchCity {
        width: 315px;
    }

    .basketCityList {
        max-width: 450px;
    }

    .basketCityList .basketCityListItem {
        max-width: 450px;
    }
    
    .basketDepartList .basketDepartListItem {
        max-width: 540px;
    }
    
    .basketSelectDepart {
        max-width: 480px;
    }

    .basketDepartListDel .basketDepartListItem {
        max-width: 540px;
    }
    .basketSelectDepartDel {
        max-width: 480px;
    }
}

@media only screen and (max-width: 768px) {
    .basketOrder {
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
    }

    .basketColmLeft {
        max-width: 420px;
    }

    .basketColmRight {
        max-width: 420px;
    }

    .inputDataTelLabelActive {
        appearance: none;  
    }

    .basketInputSearchCity {
        width: 315px;
    }

    .basketCityList {
        max-width: 350px;
    }

    .basketCityList .basketCityListItem {
        max-width: 350px;
    }
    
    .basketDepartList .basketDepartListItem {
        max-width: 350px;
    }
    
    .basketSelectDepart {
        max-width: 350px;
    }

    .basketDepartListDel .basketDepartListItem {
        max-width: 350px;
    }
    .basketSelectDepartDel {
        max-width: 350px;
    }
}

@media only screen and (max-width: 425px) {
    .basketOrder {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }

    .basketColmLeft {
        max-width: 370px;
    }

    .basketColmRight {
        max-width: 370px;
    }

    .inputDataTelLabelActive {
        appearance: none;  
    }

    .basketInputSearchCity {
        width: 315px;
    }

    .basketCityList {
        max-width: 340px;
    }

    .basketCityList .basketCityListItem {
        max-width: 340px;
    }
    
    .basketDepartList .basketDepartListItem {
        max-width: 340px;
    }
    
    .basketSelectDepart {
        max-width: 340px;
    }

    .basketDepartListDel .basketDepartListItem {
        max-width: 340px;
    }
    .basketSelectDepartDel {
        max-width: 340px;
    }
}

@media only screen and (max-width: 375px) {
    .basketOrder {
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
    }

    .basketColmLeft {
        max-width: 310px;
    }

    .basketColmRight {
        max-width: 310px;
    }

    .basketInputSearchCity {
        width: 270px;
    }

    .basketCityList {
        max-width: 280px;
    }

    .basketCityList .basketCityListItem {
        max-width: 280px;
    }
    
    .basketDepartList .basketDepartListItem {
        max-width: 280px;
    }
    
    .basketSelectDepart {
        max-width: 280px;
    }

    .basketDepartListDel .basketDepartListItem {
        max-width: 280px;
    }
    .basketSelectDepartDel {
        max-width: 280px;
    }
}

@media only screen and (max-width: 320px) {
    .basketOrder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .basketColmLeft {
        max-width: 310px;
    }

    .basketColmRight {
        max-width: 310px;
    }

    .basketInputSearchCity {
        width: 270px;
    }

    .basketCityList {
        max-width: 280px;
    }

    .basketCityList .basketCityListItem {
        max-width: 280px;
    }
    
    .basketDepartList .basketDepartListItem {
        max-width: 280px;
    }
    
    .basketSelectDepart {
        max-width: 280px;
    }

    .basketDepartListDel .basketDepartListItem {
        max-width: 280px;
    }
    .basketSelectDepartDel {
        max-width: 280px;
    }
}
