.dropdownFilterMainBtn {
    position: relative;
    display: inline-block;
}
/* Dropdown Button */
.dropBtnFilterMainBtn {
    /*background-color: #71C2FF;*/
    color: #444B54;
    padding: 16px;
    font-size: 16px;
    font-family: var(--main-font-family);
    border: #CADBEA solid;
    border-width: 0 0 5px 0;
    cursor: pointer;
    /*width: 247.4px;*/
    width: calc(var(--widthBtn)*1px);
    background-color: #eee;
    border-radius:20px;
    /* margin-top: 3px; */
    overflow:auto;
}

.dropBtnFilterMainBtn:hover {
    border: #71C2FF solid;
    border-width: 0 0 5px 0;
} 

.dropBtnFilterMainBtn:focus {
    background-color: #9EB9D3;
}

/* The search field */
#myInputFilterBtn {
  box-sizing: border-box;
  /*background-image: url('../../../assets/search_icon.png');*/
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: var(--main-font-family);
  padding: 14px 20px 12px 45px;
  border: none;
  border-radius: 10px;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInputFilterBtn:focus {outline: 3px solid #ddd;}

/* Dropdown Content (Hidden by Default) */
.dropdownContentFilterMainBtn {
    /*display: block;*/
    position: absolute;
    background-color: #9EB9D3;
    width: calc(var(--widthBtn)*1px);
    height: 450.69px;
    border: 1px solid #ddd;
    border-radius:10px 0px 0px 10px;
    z-index: 100;
    transition: 0.3s all linear;
}

.dropdownContentFilterMainBtnRound {
    position: absolute;
    background-color: #9EB9D3;
    width: calc(var(--widthBtn)*1px);
    height: 450.69px;
    border: 1px solid #ddd;
    border-radius:10px 10px 10px 10px;
    z-index: 100;
    transition: 0.3s all linear;
}


/*dropdown content info*/
.dropdownContentFilterMainBtn .dropdownContentInfo {
    position: absolute;
    width: 530px;
    height: 450px;
    background-color:#9EB9D3;
    left: calc(var(--widthBtn)*1px + 4px);
    top: 0px;
    border-radius:0px 10px 10px 0px;
}

/* dropdownContent Options container*/
.contentOptionsFilterMainBtn {
    height: 400px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    overflow: hidden auto;
    border-radius:0px 0px 10px 10px;
    margin-left: 3px;
}

.show {
    display:block;
}

@media only screen and (max-width: 768px) { 
    .contentOptionsFilterMainBtn {
        width: 210px;
    }
    .dropdownContentFilterMainBtnRound {
        width: 210px;
    }
    #myInputFilterBtn {
        width: 210px;
    }
} 

@media only screen and (max-width: 425px) { 
    .contentOptionsFilterMainBtn {
        width: 208px;
    }
    .dropdownContentFilterMainBtnRound {
        width: 208px;
        left: -11%;
    }
    #myInputFilterBtn {
        width: 208px;
    }
} 

@media only screen and (max-width: 375px) { 
    .contentOptionsFilterMainBtn {
        width: 208px;
    }
    .dropdownContentFilterMainBtnRound {
        width: 208px;
        left: -19%;
    }
    #myInputFilterBtn {
        width: 208px;
    }
} 
  
@media only screen and (max-width: 320px) { 
    .contentOptionsFilterMainBtn {
        width: 208px;
    }
    .dropdownContentFilterMainBtnRound {
        width: 208px;
    }
    #myInputFilterBtn {
        width: 208px;
    }
} 
