.optionsTyreBox {
    display:none;
}

.tyresCard:hover .optionsTyreBox {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    width: 300px;
    margin-left: -16px;
    border-radius:0px 0px 8px 8px;
    position:absolute;
    background-color:#fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.tooltipCardTyres {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    font-size: 14px;
    font-family: var(--main-font-family);
}

.tooltipCardTyres .tooltipTextCardTyres {
    visibility: hidden;
    width: 120px;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -70%;
    left: 115%;
    opacity: 0;
    transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltipCardTyres .tooltipTextCardTyres::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #444 transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltipCardTyres:hover .tooltipTextCardTyres {
    visibility: visible;
    opacity: 1;
}
