.tyresCardList {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns:120px 620px;
    gap:5px;
    overflow:hidden;
    padding: 5px;
    pointer-events: all;
    border-radius: 8px;
    background-color:#fff;
    font-family: var(--main-font-family);
}

.tyresCardListBox {
    display: grid;
    grid-template-columns: 34% 34%, 31%;
    grid-template-rows: 28px 40px 40px;
    grid-template-areas: 
    "nameCardList nameCardList nameCardList"
    "ratingCardList codeCardList propsCardList"
    "countryCardList priceCardList buttonCardList";
    grid-column: 2;
}

 #imgTyresList {
    width: 100px;
    height: 100px;
    grid-column: 1;
}

.tyresCardList:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tyresCardPriceList {
    color: #444B54;
    font-family: var(--main-font-family);
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}

.tyresCardPriceItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    color: #444B54;
    font-family: var(--main-font-family);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.tyresCardOldPriceItem {
    color: #444B54;
    font-family: var(--main-font-family);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration: line-through;
    text-decoration-color: red;
}

.tyresCardList .reviewLink {
    text-decoration: none;
    font-size: 14px;
    font-family: var(--main-font-family);
    color: black;
}

.tyresCardList .reviewLink:hover {
    opacity: 0.7;
   
}

.tyresCardCountryList {
    grid-area: countryCardList;
    display: inline;
    text-align: justify;
    vertical-align: middle;
}

.propsCardList {
    grid-area: propsCardList;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 145px;
    max-height: 45px;
    text-align: justify;
    vertical-align: top;
}

.ratingTyresList {
    grid-area: ratingCardList;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    flex-wrap: wrap;
    gap:5px;
}

.ratingTyresList .reviewLink {
    font-size: 15px;
    font-family: var(--main-font-family);
}

.tyresCardCodeList {
    grid-area: codeCardList;
    text-align:justify;
    font-family: var(--main-font-family);
}

#nameCardList {
    grid-area: nameCardList;
    text-decoration: none;
    font-family: var(--main-font-family);
}

.priceAndBtnCard {
    grid-area: priceCardList;
    text-align: center;
}

.buttonBuyCardList {
    grid-area: buttonCardList;
}

@media only screen and (max-width: 768px) {
    .tyresCardList {
        max-width: 420px;
        grid-template-columns:100px 293px;
    }
    .tyresCardListBox {
        grid-template-columns: 98%;
        grid-template-rows: 28px 40px 40px 40px 40px 40px 40px 40px;
        grid-template-areas: 
        "nameCardList"
        "nameCardList"
        "ratingCardList" 
        "codeCardList" 
        "propsCardList"
        "countryCardList"
        "priceCardList" 
        "buttonCardList";
        grid-column: 2;
    }
}

@media only screen and (max-width: 425px) {
    .tyresCardList {
        max-width: 300px;
        grid-template-columns:100px 188px;
    }
    .tyresCardListBox {
        grid-template-columns: 98%;
        grid-template-rows: 28px 40px 40px 40px 40px 40px 40px 40px;
        grid-template-areas: 
        "nameCardList"
        "nameCardList"
        "ratingCardList" 
        "codeCardList" 
        "propsCardList"
        "countryCardList"
        "priceCardList" 
        "buttonCardList";
        grid-column: 2;
    }
}

@media only screen and (max-width: 375px) {
    .tyresCardList {
        max-width: 310px;
        grid-template-columns:100px 188px;
    }
    .tyresCardListBox {
        grid-template-columns: 98%;
        grid-template-rows: 28px 40px 40px 40px 40px 40px 40px 40px;
        grid-template-areas: 
        "nameCardList"
        "nameCardList"
        "ratingCardList" 
        "codeCardList" 
        "propsCardList"
        "countryCardList"
        "priceCardList" 
        "buttonCardList";
        grid-column: 2;
    }
}

@media only screen and (max-width: 320px) {
    .tyresCardList {
        max-width: 300px;
        grid-template-columns:100px 168px;
    }
    .tyresCardListBox {
        grid-template-columns: 98%;
        max-height: 345px;
        grid-template-rows: 30px 55px 45px 40px 40px 40px 40px 40px;
        grid-template-areas: 
        "nameCardList"
        "nameCardList"
        "ratingCardList" 
        "codeCardList" 
        "propsCardList"
        "countryCardList"
        "priceCardList" 
        "buttonCardList";
        grid-column: 2;
    }
}