.footerContainer {
    width: 100%;
    background-color: #71C2FF;
    font-family: var(--main-font-family);
    color: #ffff;
    
}

.footerBox {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items:flex-start;
}

.footerSocialSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    
}
.footerLogo {
    margin-left: -10px;
}
.footerSocialSectionItem {
    width: 30px;
    height: 30px;
}
.footerContainer a {
    color: #444B54;
    font-weight: bold;
    text-decoration: none;
}

.contactSection {
    color: #444B54;
    font-weight: bold;
}
.footerCopyPaste {
    color: #444B54;
    font-weight: bold;
}

.footerTitleColumn {
    color: #444B54;
    text-decoration: underline;
}

@media only screen and (max-width: 2560px) { 
    .footerContainer {
      max-width: 2560px;
    }
}
  
@media only screen and (max-width: 1440px) { 
    .footerContainer {
      max-width: 1440px;
    }
}
  
@media only screen and (max-width: 1024px) { 
    .footerContainer {
      max-width: 1024px;
    }
}
  
@media only screen and (max-width: 768px) { 
    .footerContainer {
      max-width: 768px;
    }
}
  
@media only screen and (max-width: 425px) { 
    .footerContainer {
      max-width: 425px;
    }
}
  
@media only screen and (max-width: 320px) { 
    .footerContainer {
      max-width: 320px;
    }
}