.filterMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
    /* border: solid #71C2FF; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-width:5px 5px 5px 5px;
    border-radius:25px;
    margin: 0px 150px 0px 150px;
    padding: 6px;
    background-image:linear-gradient(45deg,#CADBEA 60%, #fff);
    height: 100%;
    /* width: 80%; */
}

.btnSelect {
    margin: 10px 10px 10px 10px;
    /*border:#71C2FF solid 5px;*/
    border-radius:5px;
    padding:none;
    width: 130px;
}

@media only screen and (max-width: 2560px) { 
    .filterMain {
        max-width: 1124px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
} 
  
@media only screen and (max-width: 1440px) { 
    .filterMain {
        min-width: 1000px;
        /* margin-left: auto;
        margin-right: auto; */
        max-height: 150px;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    } 
} 

@media only screen and (max-width: 1090px) { 
    .filterMain {
        min-width: 758px;
        /* margin-left: auto;
        margin-right: auto; */
        height: 150px;
        flex-wrap: wrap;
        /* margin-left: auto;
        margin-right: auto; */
    } 
} 
  
@media only screen and (max-width: 1024px) { 
    .filterMain {
        min-width: 770px;
        /* margin-left: auto;
        margin-right: auto; */
        height: 150px;
        flex-wrap: wrap;
        /* margin-left: auto;
        margin-right: auto; */
    } 
} 

@media only screen and (max-width: 795px) { 
    .filterMain {
        min-width: 740px;
        /* margin-left: auto;
        margin-right: auto; */
        min-height: 220px;
        flex-wrap: wrap;
    } 
} 

@media only screen and (max-width: 768px) { 
    .filterMain {
        min-width: 425px;
        /* margin-left: auto;
        margin-right: auto; */
        min-height: 220px;
        flex-wrap: wrap;
    } 
} 
  
@media only screen and (max-width: 580px) { 
    .filterMain {
        min-width: 375px;
        /* margin-left: auto;
        margin-right: auto; */
        min-height: 240px;
        flex-wrap: wrap;
    } 
} 

@media only screen and (max-width: 500px) { 
    .filterMain {
        min-width: 375px;
        /* margin-left: auto;
        margin-right: auto; */
        min-height: 280px;
        flex-wrap: wrap;
    } 
} 

@media only screen and (max-width: 425px) { 
    .filterMain {
        min-width: 375px;
        /* margin-left: auto;
        margin-right: auto; */
        /* min-height: 240px; */
        flex-wrap: wrap;
    } 
} 

@media only screen and (max-width: 400px) { 
    .filterMain {
        min-width: 280px;
        /* margin-left: auto;
        margin-right: auto; */
        /* height: 310px; */
        min-height: 340px;
        flex-wrap: wrap;
    } 
} 

@media only screen and (max-width: 375px) { 
    .filterMain {
        min-width: 280px;
        /* margin-left: auto;
        margin-right: auto; */
        min-height: 360px;
        flex-wrap: wrap;
    } 
} 
  
@media only screen and (max-width: 340px) { 
    .filterMain {
        min-width: 280px;
        /* margin-left: auto;
        margin-right: auto; */
        /* min-height: 310px; */
        min-height: 520px;
        flex-wrap: wrap;
    } 
} 

@media only screen and (max-width: 320px) { 
    .filterMain {
        min-width: 280px;
        /* margin-left: auto;
        margin-right: auto; */
        /* min-height: 310px; */
        /* height: 360px; */
        flex-wrap: wrap;
    } 
} 