.filterMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
    border: solid #c7C3F4;
    border-width:0px 0px 2px 0px;
    border-radius:0px;
}

.btnSelect {
    margin: 2px 10px 10px 10px;
    border:#71C2FF solid 5px;
    border-radius:5px;
    padding:none;
    width: 130px;
}