.brandListMainContainer {
    margin: 20px 50px 20px 50px;
    font-family: var(--main-font-family);
}

.brandListMainBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    content-visibility: auto;
}

.brandListMainItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    border-radius: 25px;
    padding: 3px;
    text-decoration: none;
    text-decoration-color: #6666;
}

.brandListMainItem:hover {
    background-color: #cccc;
    cursor: pointer;
    color: orange;
}

.imgBrandListMain {
    padding: 4px;
}