.admOrderSupCommitTable {
    width: 100%;
    /*height: 120px;*/
    border-collapse: collapse;
    /*overflow-y: auto;*/
    font-size: 12px;
}
.admOrderSupCommitTable tr, .admOrderSupCommitTable th {
    border: 1px solid #ddd;
    padding: 8px 5px;
}

.admOrderSupCommitGroup {
    width: 100%;
    height: 110px;
    overflow-y: auto;
}

.admOrderSupCommitTable thead {
    position: sticky;
    top: 0px;
}

.headerOrderTable {
    font-size: 12px;
    font-family: var(--main-font-family);
    font-weight: bold;
}

.headerOrderSupTableCode {
    width: 60px;
}
.headerOrderSupTableDate {
    width: 85px;
}
.headerOrderSupTableSupplier {
    width: 95px;
}
.headerOrderSupTableCodeOrder {
    width: 50px;
}
.headerOrderSupTableStorage {
    width: 120px;
}

.headerOrderSupTableCost {
    width: 70px;
}
.headerOrderSupTableStatus {
    width: 105px;
}
.headerOrderSupTableType {
    width: 60px;
}
.headerOrderSupTableDelivery {
    width: 60px;
}
.headerOrderSupTableStatusDel {
    width: 90px;
}
.headerOrderSupTablePayType {
    width: 105px;
}
.headerOrderSupTablePayStatus {
    width: 75px;
}
.headerOrderSupTableUser {
    width: 35px;
}
.headerOrderSupTableNotes {
    width: 100px;
}
.headerOrderSupTableOption {
    width: 105px;
}

.admOrderSupCommitTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #444;
}

.admOrderSupCommitTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admOrderSupCommitTable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admOrderSupCommitTable td {
    padding: 5px; 
}


/* Add a "checked" mark when clicked on */
/*ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
*/
.admOrderSupAddOrderBtn{
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color:#4CAF50;
    color: #f2f2f2;
}

.admOrderSupAddOrderBtn:hover {
    background-color: #2caf30;
    color: white;
    cursor: pointer;
}

.headerOrderSupTable {
    font-size: 12px;
    font-family: var(--main-font-family);
    font-weight: bold;
}

.admListOrdersSupTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    
}
.admListOrdersSupTable tr, .admListOrdersSupTable th {
    border: 1px solid #ddd;
    padding: 8px 5px;
}

.admListOrdersSupTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #444;
}

.admListOrdersSupTable i {
    margin-left: 3px;
}

.admListOrdersSupTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admListOrdersSupTable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admListOrdersSupTable td {
    padding: 5px; 
}

.admOrdersSupTable {
    width: 100%;
    height: 395px;
    overflow-y: auto;  
}

.admOrdersSupTable thead th {
    position: sticky; 
    top: 0px;
}

.closeAdmGoods {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color:#f2f2f2;
    color: #f44336;
}

.closeAdmGoods:hover {
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

.basketAdmGoods {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color: #f2f2f2;
    color: #4CAF50;
}

.basketAdmGoods:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.editAdmGoods {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color: #f2f2f2;
    color: #71C2ff;
}

.editAdmGoods:hover {
    background-color: #71C2ff;
    color: white;
    cursor: pointer;
}

.admOrderSupContent {
    background-color: #f2f2f2;
    padding: 5px 10px;
    color: white;
    text-align: center;
    color:#444;
    font-size: 14px;
    font-family: var(--main-font-family);
    /*font-weight: bold;*/
    border-radius: 8px 8px 0px 0px;
}

.admOrderSupContent:after {
    content: "";
    display: table;
    clear: both;
}

.admOrderSupHeader {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 3px;
    padding: 5px;
    margin: 3px;
}

.inputOrderSupContent {
    position: absolute;
    top: 30px;
    left: 0;
    width: 75%;
    background-color: #f2f2f2;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    z-index: 100;
    max-height: 240px;
    height: auto;
    overflow: auto;
}

.inputOrderSupContentItem {
    padding: 5px;
}
.inputOrderSupContentItem:hover {
    background-color: #ddd;
    cursor: pointer;
    transition:cubic-bezier(1, 0, 0, 1) .3s all;
}

.admOrderSupGridItem {
    vertical-align:middle;
    display: grid;
    grid-template-columns: 50px 85px 90px 40px 115px 60px 85px 55px 70px 80px 100px 75px 60px 90px 100px;
    grid-column-gap: 10px;
}
.admOrderSupGridItem:nth-child(even) {
    background-color: #f2f2f2;
}
.admOrderSupGridItem .admOrderSupGridItemBtn {
    display: flex;
    flex-direction: row;
}
.admOrderSupTableColmId tr {
    border: 1px solid #ddd;
    padding: 8px 5px;
} 
.admOrderSupTableColmId .admOrderSupGridItem:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admChooseCat {
    appearance: none;
}

.admChooseLabel {
    border-radius: 3px;
    background-color:#f2f2f2;
    padding: 10px;
    cursor: pointer;
}

.admChooseLabel:hover, .admChooseLabel:focus {
    background-color:#ddd;
}

.admBtnSearch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.inputAdminOrderSup {
    margin: 0;
    border: none;
    border-radius: 8px;
    width: 75%;
    height: 15px;
    padding: 3px;
    float: left;
    font-size: 10px;
}
