.headerWheelTable {
    font-size: 14px;
    font-family: var(--main-font-family);
    font-weight: bold;
}
.headerWheelTableCode {
    width: 80px;
}
.headerWheelTableName {
    width: 485px;
}
.headerWheelTableBrand {
    width: 145px;
}
.headerWheelTableType {
    width: 100px;
}
.headerWheelTableColor {
    width: 100px;
}
.headerWheelTableCat {
    width: 100px;
}
.headerWheelTableCatCh {
    width: 100px;
}
.admListWheelTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    
}
.admListWheelTable tr, .admWheelTable th {
    border: 1px solid #ddd;
    padding: 8px 5px;
}

.admListWheelTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #444;
}
.admListWheelTable th:hover {
    cursor: pointer;
}
.admListWheelTable th:active {
    cursor: pointer;
    background-color: #51c455;
}

.admListWheelTable i {
    margin-left: 3px;
}

.admListWheelTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admWheelTable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admListWheelTable td {
    padding: 5px; 
}

.admWheelTable {
    width: 100%;
    height: 345px;
    /* overflow-y: auto;   */
}

.admWheelTable thead th {
    position: sticky; 
    top: 0px;
}

.closeAdmWheel {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color:#f2f2f2;
    color: #f44336;
}

.closeAdmWheel:hover {
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

.basketAdmWheel {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color: #f2f2f2;
    color: #4CAF50;
}

.basketAdmWheel:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.editAdmWheel {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color: #f2f2f2;
    color: #71C2ff;
}

.editAdmWheel:hover {
    background-color: #71C2ff;
    color: white;
    cursor: pointer;
}

.eyeAdmTyre {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color:#f2f2f2;
    color: #9EB9D3;
}

.eyeAdmTyre:hover {
    background-color: #9EB9D3;
    color: white;
    cursor: pointer;
}

.headerWheel {
    background-color: #f2f2f2;
    padding: 5px 10px;
    color: white;
    text-align: center;
    color:#444;
}

.headerWheel:after {
    content: "";
    display: table;
    clear: both;
}

.admWheelGridItem {
    vertical-align:middle;
    display: grid;
    grid-template-columns: 80px 485px 110px 90px 50px 20px 80px 100px 125px;
    grid-column-gap: 15px;
}

.admWheelGridItem .admWheelGridItemBtn {
    display: flex;
    flex-direction: row;
}
.admWheelTableColmId tr {
    border: 1px solid #ddd;
    padding: 8px 5px;
} 
.admWheelTableColmId .admWheelGridItem:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admWheelTableHeader {
    display: flex;
    flex-direction: column;

    position: sticky; 
    top: 0px;
}

