.admStockGoodsTable {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    font-size: 12px;
}
.admStockGoodsTable tr, .admStockGoodsTable th {
    border: 1px solid #ddd;
    padding: 8px 5px;
}

.admStockGoodsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #444;
}

.admStockGoodsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admStockGoodsTable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admStockGoodsTable td {
    padding: 5px; 
}

.admIncomesAddBtn{
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color:#4CAF50;
    color: #f2f2f2;
}

.admIncomesAddBtn:hover {
    background-color: #2caf30;
    color: white;
    cursor: pointer;
}

.headerIncomesTable {
    font-size: 12px;
    font-family: var(--main-font-family);
    font-weight: bold;
}

.headerPayIncomesHeadTableCode {
    width: 85px;
}

.headerPayIncomesHeadTableDate {
    width: 120px;
}

.headerPayIncomesHeadTableType {
    width: 70px;
}

.headerPayIncomesHeadTableView {
    width: 120px;
}

.headerPayIncomesHeadTableCashbox {
    width: 130px;
}

.headerPayIncomesHeadTableSum {
    width: 80px;
}

.headerPAyIncomesHeadTableIdOrder {
    width: 80px;
}
.headerPayIncomesHeadTableIdOrderSup {
    width: 80px;
}

.headerPayIncomesHeadTableIdContract {
    width: 80px;
}
.headerPayIncomesHeadTableContract {
    width: 185px;
}
.headerPayIncomesHeadTableUser {
    width: 50px;
}
.headerPayIncomesHeadTableNotes {
    width: 200px;
}
.headerPayIncomesHeadTableOption {
    width: 250px;
}

.admListIncomesTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    
}
.admListIncomesTable tr, .admListIncomesTable th {
    border: 1px solid #ddd;
    padding: 8px 5px;
}

.admListIncomesTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #444;
}

.admListIncomesTable i {
    margin-left: 3px;
}

.admListIncomesTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admListIncomesTable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admListIncomesTable td {
    padding: 5px; 
}

.admIncomesTable {
    width: 100%;
    height: 500px;
    overflow-y: auto;  
}

.admIncomesTable thead th {
    position: sticky; 
    top: 0px;
}

.closeAdmGoods {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color:#f2f2f2;
    color: #f44336;
}

.closeAdmGoods:hover {
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

.basketAdmGoods {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color: #f2f2f2;
    color: #4CAF50;
}

.basketAdmGoods:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.editAdmGoods {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color: #f2f2f2;
    color: #71C2ff;
}

.editAdmGoods:hover {
    background-color: #71C2ff;
    color: white;
    cursor: pointer;
}

.admIncomesContent {
    background-color: #f2f2f2;
    padding: 5px 10px;
    color: white;
    text-align: center;
    color:#444;
    font-size: 14px;
    font-family: var(--main-font-family);
    /*font-weight: bold;*/
    border-radius: 8px 8px 0px 0px;
}

.admIncomesContent:after {
    content: "";
    display: table;
    clear: both;
}

.admIncomesHeader {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 3px;
    padding: 5px;
    margin: 3px;
}

.admPayIncomesGridItem {
    vertical-align:middle;
    display: grid;
    grid-template-columns: 65px 85px 65px 90px 95px 65px 55px 60px 60px 150px 65px 150px 180px;
    grid-column-gap: 10px;
}
.admPayIncomesGridItem:nth-child(even) {
    background-color: #f2f2f2;
}
.admPayIncomesGridItem .admOrderGridItemBtn {
    display: flex;
    flex-direction: row;
}
.admPayIncomesTableColmId tr {
    border: 1px solid #ddd;
    padding: 8px 5px;
} 
.admPayIncomesTableColmId .admPayIncomesGridItem:hover {
    background-color: #ddd;
    cursor: pointer;
}
.admChooseCat {
    appearance: none;
}

.inputPayIncomeContent {
    position: absolute;
    top: 30px;
    left: 0;
    width: 75%;
    background-color: #f2f2f2;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    z-index: 100;
    max-height: 240px;
    height: auto;
    overflow: auto;
}

.inputPayIncomeContentItem {
    padding: 5px;
}
.inputPayIncomeContentItem:hover {
    background-color: #ddd;
    cursor: pointer;
    transition:cubic-bezier(1, 0, 0, 1) .3s all;
}

.admChooseLabel {
    border-radius: 3px;
    background-color:#f2f2f2;
    padding: 10px;
    cursor: pointer;
}

.admChooseLabel:hover, .admChooseLabel:focus {
    background-color:#ddd;
}

.admBtnSearch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.inputAdminIncomes {
    margin: 0;
    border: none;
    border-radius: 3px;
    width: 75%;
    height: 15px;
    padding: 3px;
    float: left;
    font-size: 10px;
}
