.headerTyreTable {
    font-size: 14px;
    font-family: var(--main-font-family);
    /*font-weight: bold;*/
    /*height: 200px;*/
}
.headerTyreTableCode {
    width: 80px;
}
.headerTyreTableName {
    width: 450px;
}
.headerTyreTableBrand {
    width: 125px;
}
.headerTyreTableSeason {
    width: 120px;
}
.headerTyreTableYear {
    width: 60px;
}
.headerTyreTableCounty {
    width: 110px;
}
.headerTyreTableCat {
    width: 100px;
}
.headerTyreTableType {
    width: 125px;
}
.admListTyreTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.admListTyreTable tr, th {
    border: 1px solid #ddd;
    padding: 8px 5px;
}

.admListTyreTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #444;
}
.admListTyreTable th:hover {
    cursor: pointer;
}
.admListTyreTable th:active {
    cursor: pointer;
    background-color: #51c455;
}

.admListTyreTable i {
    margin-left: 3px;
}

.admListTyreTable tbody {
    width: 100%;
}

.admListTyreTable td {
    padding: 5px; 
}

.admTyreTable {
    width: 100%;
    height: 345px;
    /* overflow-y: auto; */
}

.admTyreTable thead th {
    position: sticky; 
    top: 0px;
}

.closeAdmTyre {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color:#f2f2f2;
    color: #f44336;
}

.closeAdmTyre:hover {
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

.eyeAdmTyre {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color:#f2f2f2;
    color: #9EB9D3;
}

.eyeAdmTyre:hover {
    background-color: #9EB9D3;
    color: white;
    cursor: pointer;
}

.basketAdmTyre {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color: #f2f2f2;
    color: #4CAF50;
}

.basketAdmTyre:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.editAdmTyre {
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    right: 0;
    top: 0;
    padding: 5px 12px 5px 12px;
    background-color: #f2f2f2;
    color: #71C2ff;
}

.editAdmTyre:hover {
    background-color: #71C2ff;
    color: white;
    cursor: pointer;
}

.headerTyre {
    background-color: #f2f2f2;
    padding: 5px 10px;
    color: white;
    text-align: center;
    color:#444;
}

.headerTyre:after {
    content: "";
    display: table;
    clear: both;
}

.admTyreGridItem {
    vertical-align:middle;
    display: grid;
    grid-template-columns: 80px 445px 110px 90px 45px 100px 78px 100px 125px;
    grid-column-gap: 15px;
}

.admTyreGridItem .admTyreGridItemBtn {
    display: flex;
    flex-direction: row;
}
.admTyreTableColmId tr {
    border: 1px solid #ddd;
    padding: 8px 5px;
} 
.admTyreTableColmId .admTyreGridItem:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* .admTyreGridItemF .admTyreGridItemB {
    vertical-align:text-bottom;
} */
/* .admTyreGridItemB:hover + .admTyreGridItemF{
    background-color: #ddd;
    cursor: pointer;
} */

.admTyreTableHeader {
    display: flex;
    flex-direction: column;

    position: sticky; 
    top: 0px;
}

/* .admTyreGridItemHeader {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #444;
    border: 1px solid #ddd;
    padding: 8px 5px;

} */