.adminPageMain {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 10% 90%;
    grid-area: 
    "profile header header"
    "leftCol rightCol rightCol";

}

.leftColumn {
    grid-area: leftCol;
}

.rightColumn {
    grid-area: rightCol;
}

.headerAdmin {
    grid-area: header;
}

.profileAdmin {
    grid-area: profile;
}
