.catalogTyres {
    /* border: rebeccapurple solid 3px; */
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-areas: 
                    "a a a a"
                    "b c c c"
                    "d d d d"
                    "e e e e";
    grid-gap:5px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
    /* border: rebeccapurple solid 3px; */
}

.c {
    grid-area: c;
    /* border: rebeccapurple solid 3px; */
}

.d {
    grid-area: d;
    /* border: rebeccapurple solid 3px; */
}

.e {
    grid-area: e;
    /* border: rebeccapurple solid 3px; */
}