  .rowCategoreSlider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    content-visibility: auto;
  }
  
  .rowCategoreSlider:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .columnCategorySlider {
    position: relative;
    width: 300px; 
    height: 200px;
    background-color:burlywood;
    overflow: hidden;
    margin: 10px;
    border-radius:8px;
    cursor:pointer;
  }

  .columnCategorySlider::after{
    
    transition: 0.3s;
  }
  
  .columnCategorySlider:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  img.hover-shadow {
    
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .columnCategorySlider .contentCategorySlider {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */ 
    text-align: center; 
    font-size: 16px;
    font-family: var(--main-font-family);
  }
    