.rowCategoreSlider {
    /*background: #1895;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*gap: 5px 5px;*/
   /* max-height: 50px;
    max-width: 50px;*/
    /*overflow: visible;*/
    /*padding: 10 8px;*/
  }
  
  .rowCategoreSlider:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .columnCategorySlider {
    /*float: left;*/
    /*display: flex;*/
   /* width: 25%;*/
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px 20px;*/ 
    height: 200px;
    width: 300px;
    background-color:burlywood;
    overflow: hidden;
    margin: 10px;
    border-radius:3px;
  }

  .columnCategorySlider::after{
    
    transition: 0.3s;
  }
  
  .columnCategorySlider:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  img.hover-shadow {
    
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }