.goodsCard {
  margin-left: 45px;
  margin-right: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 25%));
  grid-template-rows:minmax(45px, 1fr);
  /*grid-template-areas: 
    "goodsBreadCrumbs goodsBreadCrumbs goodsBreadCrumbs"
    "tabGoods tabGoods tabGoods"
    "goodsBenefits goodsBenefits goodsBenefits"
    "similarGoods similarGoods similarGoods"
    "allSizeModel allSizeModel allSizeModel"
    "youWatched youWatched youWatched"
    "allModelBrand allModelBrand allModelBrand";*/
  grid-gap:5px;
  border-radius:8px;
  background-color:#fff;
  
}

.goodsBreadCrumbs {
  border: solid peru 3px;
  grid-area: 1 / 1 / 1 / 5;
  /*grid-area: goodsBreadCrumbs;*/
 
}
.tabGoods {
  border: solid peru 3px;
  /*grid-area: tabGoods;*/
  grid-area: 2 / 1 / 4 / 5;
}

.tabGoodsActive {
  border: solid peru 3px;
  /*grid-area: tabGoods;*/
  grid-area: 2 / 1 / 4 / 4;
}

.goodsBenefits {
  border: solid peru 3px;
  /*grid-area: goodsBenefits;*/
  grid-area: 4 / 1 / 4 / 5;
  text-align: center;

}
.goodsBenefitsNext {
  border: solid peru 3px;
  /*grid-area: goodsBenefits;*/
  grid-area: 4 / 1 / 4 / 4;
  text-align: center;

}

.similarGoods {
  border: solid peru 3px;
  /*grid-area: similarGoods;*/
  grid-area: 5 / 1 / 5 / 4;
}

.allSizeModel {
  border: solid peru 3px;
  /*grid-area: allSizeModel;*/
  grid-area: 6 / 1 / 6 / 4;
}

.allModelBrand {
  border: solid peru 3px;
  /*grid-area: allModelBrand;*/
  grid-area: 7 / 1 / 7 / 4;
}

.youWatched {
  border: solid peru 3px;
  /*grid-area: youWatched;*/
  grid-area: 8 / 1 / 8 / 4;
}

.smallCardNext {
  border: solid peru 3px;
  /*grid-area: smallCard;*/
  grid-area: 2 / 4 / 9 / 5;
  /*position: sticky;
  top:20px;*/
  
}

.smallCardOne {
  border: solid peru 3px;
  /*grid-area: smallCard;*/
  grid-area: 5 / 4 / 9 / 5;
  /*position: sticky;
  top: 20px;*/
}

.tabReviewsActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 15px;
  margin: 15px;
}