.goodsCard {
  margin-left: 45px;
  margin-right: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 25%));
  grid-template-rows:minmax(45px, 1fr);
  /*grid-template-areas: 
    "goodsBreadCrumbs goodsBreadCrumbs goodsBreadCrumbs"
    "tabGoods tabGoods tabGoods"
    "goodsBenefits goodsBenefits goodsBenefits"
    "similarGoods similarGoods similarGoods"
    "allSizeModel allSizeModel allSizeModel"
    "youWatched youWatched youWatched"
    "allModelBrand allModelBrand allModelBrand";*/
  grid-gap:5px;
  border-radius:8px;
  background-color:#fff;
  
}

.goodsBreadCrumbs {
  grid-area: 1 / 1 / 1 / 5;
  /*grid-area: goodsBreadCrumbs;*/
 
}
.tabGoods {
  /* border: solid peru 3px; */
  /*grid-area: tabGoods;*/
  grid-area: 2 / 1 / 4 / 5;
  
}
.tabGoodsActive {
  /* border: solid peru 3px; */
  /*grid-area: tabGoods;*/
  grid-area: 2 / 1 / 4 / 4;
}

.productPayDelGoods {
  /* border: solid peru 3px; */
  /*grid-area: goodsBenefits;*/
  grid-area: 4 / 1 / 4 / 5;
  text-align: center;
}

.productPayDelGoodsNext {
  /* border: solid peru 3px; */
  /*grid-area: goodsBenefits;*/
  grid-area: 4 / 1 / 4 / 4;
  text-align: center;
}

.goodsBenefits {
  /* border: solid peru 3px; */
  /*grid-area: goodsBenefits;*/
  grid-area: 5 / 1 / 5 / 5;
  text-align: center;

}
.goodsBenefitsNext {
  /* border: solid peru 3px; */
  /*grid-area: goodsBenefits;*/
  grid-area: 5 / 1 / 5 / 4;
  text-align: center;

}

.similarGoods {
  /* border: solid peru 3px; */
  /*grid-area: similarGoods;*/
  grid-area: 6 / 1 / 6 / 4;
}

.allSizeModel {
  /* border: solid peru 3px; */
  /*grid-area: allSizeModel;*/
  grid-area: 7 / 1 / 7 / 4;
}

.allSizeModel span {
  font-size: 16px;
  font-family: var(--main-font-family);
  font-weight: bold;
  margin: 10px 0px 10px 50px;
}

.allModelBrand {
  /* border: solid peru 3px; */
  /*grid-area: allModelBrand;*/
  grid-area: 8 / 1 / 8 / 4;
}

.allModelBrand span {
  font-size: 16px;
  font-family: var(--main-font-family);
  font-weight: bold;
  margin: 10px 0px 10px 50px;
}

.youWatched {
  /* border: solid peru 3px; */
  /*grid-area: youWatched;*/
  grid-area: 9 / 1 / 9 / 4;
}

.smallCardNext {
  /* border: solid peru 3px; */
  /*grid-area: smallCard;*/
  grid-area: 2 / 4 / 10 / 5;
  /*position: sticky;
  top:20px;*/
  
}
.preReview {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap: 20px;
  font-family: var(--main-font-family);
}
.smallCardOne {
  /* border: solid peru 3px; */
  /*grid-area: smallCard;*/
  grid-area: 6 / 4 / 10 / 5;
  /*position: sticky;
  top: 20px;*/
}

.tabReviewsActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 15px;
  margin: 15px;
}