.main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    
}
@media (min-width: 1440px) { 
    .main {
        width: 1374px;
        margin-left: 100px;
        margin-right: 100px;
    } 
} 

@media (max-width: 1024px) { 
    .main {
        width: 1024px;
    } 
} 
@media (max-width: 768px) { 
    .main {
        width: 700px;
    } 
} 
@media (max-width: 800px) { 
    .main {
        width: 800px;
    } 
} 
@media (max-width: 425px) { 
    .main {
        width: 400px;
    } 
} 
@media (max-width: 375px) { 
    .main {
        width: 300px;
    } 
} 

@media (max-width: 320px) { 
    .main {
        width: 300px;
    } 
} 

:root {
    --main-font-family:'Open Sans', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Ubuntu', sans-serif;*/
}

.mainAfterReviews {
    display:inline-block;
    margin: 26px;
    padding: 20px;
}

.mainLinkReview {
    text-decoration:underline;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--main-font-family);
    text-decoration-color: #6666;
}
.mainReviewsBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;
}