.main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%; 
}
:root {
    --main-font-family:'Open Sans', sans-serif;
}
.mainAfterReviews {
    display:inline-block;
    margin: 25px;
    padding: 20px;
    height: 150px;
}
.mainLinkReview {
    text-decoration:underline;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--main-font-family);
    text-decoration-color: #6666;
}
.mainReviewsBox {
    width: 100%;
}
@media (max-width: 2560px) { 
    .main {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    } 
} 
@media (max-width: 1440px) { 
    .main {
        max-width: 1440px;
    } 
} 

@media (max-width: 1024px) { 
    .main {
        max-width: 1024px;
    } 
    .mainReviewsBox {
        max-width: 1024px;
    }
} 
@media (max-width: 768px) { 
    .main {
        max-width: 768px;
    } 
    .mainReviewsBox {
        max-width: 768px;
    }
} 

@media (max-width: 425px) { 
    .main {
        max-width: 425px;
    } 
    .mainReviewsBox {
        max-width: 425px;
    }
} 
@media (max-width: 375px) { 
    .main {
        max-width: 375px;
    } 
    .mainReviewsBox {
        max-width: 375px;
    }
} 

@media (max-width: 320px) { 
    .main {
        max-width: 320px;
    } 
    .mainReviewsBox {
        max-width: 320px;
    }
} 
/* @media (max-width: 2560px) { 
    .main {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    } 
} 
@media (min-width: 1440px) { 
    .main {
        min-width: 1024px;
    } 
} 

@media (min-width: 1024px) { 
    .main {
        min-width: 768px;
    } 
    .mainReviewsBox {
        min-width: 768px;
    }
} 
@media (min-width: 768px) { 
    .main {
        min-width: 425px;
    } 
    .mainReviewsBox {
        min-width: 425px;
    }
} 

@media (min-width: 425px) { 
    .main {
        min-width: 375px;
    } 
    .mainReviewsBox {
        min-width: 375px;
    }
} 
@media (min-width: 375px) { 
    .main {
        min-width: 320px;
    } 
    .mainReviewsBox {
        min-width: 320px;
    }
} 

@media (min-width: 320px) { 
    .main {
        min-width: 300px;
    } 
    .mainReviewsBox {
        min-width: 300px;
    }
}  */