/* The overlay effect with black background */
.overlay {
  display: none;
}

.overlayActive {
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
  }
  
  /* The content */
  .overlayForm {
    position: relative;
    top: 15%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  /* Close button */
  .overlayActive .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 28px;
    font-family: var(--main-font-family);
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
  
  .overlayActive .closebtn:hover {
    color: #ccc;
  }
  
  /* Style the search field */
  .overlayActive input {
    padding: 15px;
    font-size: 16px;
    font-family: var(--main-font-family);
    border: none;
    float: left;
    width: 80%;
    background-color: white;
  }
  
  .overlayActive input:hover {
    background-color: #ffff;

  }

  .overlayActive input:focus {
    
    border: 3px solid #ccc;
  }

  
  /* Style the submit button */
  .overlayActive button {
    float: left;
    width: 20%;
    padding: 15px;
    background-color: #ddd;
    font-size: 16px;
    font-family: var(--main-font-family);
    border: none;
    cursor: pointer;
  }
  
  .overlayActive button:hover {
    background-color: #bbb;
  }

  .overlayActive .outputData {
    position: absolute;
    background-color:#ffff;
    top: 22.8%;
    right: 10%;
    width: 80%;
    /*border-radius: 0px 0px 10px 10px;*/
    display: flex;
    flex-direction: row;
    gap: 25px;
    
  }

  .outputDataItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #ccc;
  }