.promotionBox{
    width: 100%;
}
.promotionBoxItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 1455px; */
}
.newsCard {
    /* Add shadows to create the "card" effect */
    /*width: 200px;*/
    /*height: 350px;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3px;
    /*position:absolute;*/
    display: block;
    /*overflow: hidden;*/
}

/* On mouse-over, add a deeper shadow */
.newsCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* @media only screen and (max-width: 2560px) { 
    .nextButton {
      right: calc(var(--positRight) * 1%);
      top: calc(var(--positTopRight) * 1px);
    }
    .prevButton {
      left: calc(var(--positLeft) * 1%);
      top: calc(var(--positTopLeft) * 1px);
    }
} 
  
@media only screen and (max-width: 1440px) { 
    .nextButton {
      right: -74%;
    } 
    .prevButton {
      left: 16%;
    }
} 
  
@media only screen and (max-width: 1024px) { 
    .nextButton {
      right: -83%;
    } 
    .prevButton {
      left: 4%;
    }
}
  
@media only screen and (max-width: 768px) { 
    .nextButton {
      right: -79%;
    } 
    .prevButton {
      left: -2%;
    }
} 
  
@media only screen and (max-width: 425px) { 
    .nextButton {
      right: -78%;
    } 
    .prevButton {
      left: -3%;
    }
}
  
@media only screen and (max-width: 375px) { 
    .nextButton {
      right: -76%;
    } 
    .prevButton {
      left: -3%;
    }
} 
  
@media only screen and (max-width: 320px) { 
    .nextButton {
      right: -75%;
    } 
    .prevButton {
      left: -6%;
    }
}  */