.sliderMain {
  display:grid;
  grid-gap: 5px;
  grid-template-columns:repeat(2, 49.4%);
  grid-template-areas: 
          "slideShowContainer sliderImgBoxTop";
          /* "slideShowContainer sliderImgBoxBottom"; */
  height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
  width: 100%;
  content-visibility: auto;
  /* background-color: #ccc; */
}

.sliderImgBoxTop {
  grid-area: sliderImgBoxTop;
  width:100%;
  height: 100%;
  border-radius:5px;
}

.sliderImgBoxBottom {
  grid-area: sliderImgBoxBottom;
}

#imgSliderBoxTop {
  width:100%;
  height: 100%;
  border-radius:5px;
}

#imgSliderBoxBottom {
  width:100%;
  height: 100%;
  border-radius:5px;
}

.mySlides img {
  width:100%;
  height: 100%;
  border-radius: 5px;
}

.slideShowContainer {
  grid-area: slideShowContainer;
  position: relative;
  overflow: hidden;
  text-align: center;
}

/* Hide the images by default */
.mySlides {
    display:contents;
    text-align: center;
    margin: 0;
}

#sliderTwo {
  display: none;
}
#sliderThree {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: red;
  font-size: 12px;
  font-family: var(--main-font-family);
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/*dot container*/
.dotContainer{
  text-align: right;
  top: 61%;
  left: 25%; /*47.35*/
  position:absolute;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 2560px) { 
  .sliderMain {
    max-width: 1440px;
    max-height: 380px;
  }
  #imgSliderBoxTop {
    max-height: 360px;
  }
  #imgSliderBoxBottom {
    max-height: 360px;
  }
  .mySlides img {
    max-height: 360px;
  }
} 

@media only screen and (max-width: 1440px) { 
  .sliderMain {
    max-width: 1440px;
    max-height: 360px;
  } 
  #imgSliderBoxTop {
    max-height: 340px;
  }
  #imgSliderBoxBottom {
    max-height: 340px;
  }
  .mySlides img {
    max-height: 340px;
  }
} 

@media only screen and (max-width: 1024px) { 
  .sliderMain {
    max-width: 1024px;
    max-height: 280px;
  } 
  #imgSliderBoxTop {
    max-height: 260px;
  }
  #imgSliderBoxBottom {
    max-height: 260px;
  }
  .mySlides img {
    max-height: 260px;
  }
} 
@media only screen and (max-width: 768px) { 
  .sliderMain {
    max-width: 768px;
    max-height: 220px;
  } 
  #imgSliderBoxTop {
    max-height: 200px;
  }
  #imgSliderBoxBottom {
    max-height: 200px;
  }
  .mySlides img {
    max-height: 200px;
  }
} 

@media only screen and (max-width: 425px) { 
  .sliderMain {
    max-width: 425px;
    max-height: 200px;
  } 
} 
@media only screen and(max-width: 375px) { 
  .sliderMain {
    max-width: 375px;
    max-height: 200px;
  } 
} 

@media only screen and (max-width: 320px) { 
  .sliderMain {
    max-width: 320px;
    max-height: 200px;
  } 
} 