.popularSizeTyre {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    gap:5px;
}
.popularSizeTyre span {
    border-radius: 25px;
    background-color:#ddd;
    cursor: pointer;
    padding: 6px;
}

.popularSizeTyre span:hover {
    background-color:#fff; 
}