.popularDiametrTyre {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:16px;
    width: 100%;
}

.popularDiametrTyre a {
    border-radius: 25px;
    background-color:#ddd;
    cursor: pointer;
    padding: 8px;
    font-size: 16px;
    font-family: var(--main-font-family);
    font-weight: bold;
    text-decoration: none;
}

.popularDiametrTyre a:hover {
    background-color:#71C2FF;
}

