#buttonAction {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #9C93D1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius:5px;
}

#buttonAction:hover {
    opacity: 0.7;
    background-color:green;
}