.prevButton, .nextButton {
  cursor: pointer;
  /* position: absolute; */
  width: auto;
  margin-top: -30px;
  padding: 12px 20px 12px 20px;
  color: #444B54;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50px;
  user-select: none;
}
/* Position the "next button" to the right */
.nextButton {
  position: relative;
  right: calc(var(--positRight) * 1px);
  top: calc(var(--positTopRight) * 1px);
}
  
/* Position the "previous button" to the left */
.prevButton {
  position: relative;
  left: calc(var(--positLeft) * 1px);
  top: calc(var(--positTopLeft) * 1px);
}
  
/* On hover, add a black background color with a little bit see-through */
.prevButton:hover, .nextButton:hover {
  background-color: #71C2FF;
  color: white;
}

@media only screen and (max-width: 2560px) { 
  .nextButton {
    right: calc(var(--positRight) * 1px);
    top: calc(var(--positTopRight) * 1px);
  }
  .prevButton {
    left: calc(var(--positLeft) * 1px);
    top: calc(var(--positTopLeft) * 1px);
  }
} 

@media only screen and (max-width: 1440px) { 
  .nextButton {
    right: -74%;
  } 
  .prevButton {
    left: 16%;
  }
} 

@media only screen and (max-width: 1024px) { 
  .nextButton {
    right: -83%;
  } 
  .prevButton {
    left: 4%;
  }
}

@media only screen and (max-width: 768px) { 
  .nextButton {
    left: 65%;
    top: 0px;
  } 
  .prevButton {
    left: 18%;
    top: 0px;
  }
} 

@media only screen and (max-width: 425px) { 
  .nextButton {
    left: 60%;
    top: 0px;
  } 
  .prevButton {
    left: 15%;
    top: 0px;
  }
}

@media only screen and (max-width: 375px) { 
  .nextButton {
    left: 60%;
    top: 0px;
  } 
  .prevButton {
    left: 15%;
    top: 0px;
  }
} 

@media only screen and (max-width: 320px) { 
  .nextButton {
    left: 60%;
    top: 0px;
  } 
  .prevButton {
    left: 15%;
    top: 0px;
  }
} 