.buttonAction {
    border: none;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #9C93D1;
    text-align: center;
    cursor: pointer;
    width: calc(var(--widthBtn) * 1px);
    font-size: 18px;
    font-family: var(--main-font-family);
    border-radius:8px;
}

.buttonAction:hover {
    background-color:green;
}