
#imgCustomerAuth {
    width: 35px;
    height: 35px;
    border-radius:50%;
    background-color:#9EB9D3;
    margin: 0px;
    vertical-align: middle;
}

.btnAuthView {
    border:none;
    vertical-align: middle;
    background-color:#ffff;
    cursor: pointer;
    font-family: var(--main-font-family);
    font-size: 14px;
}

.btnAuthView:hover {
    border:#71C2FF solid;
    border-width: 0 0 5px 0;
}

.authApprove {
    display: none;
}

.authApprove.active {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: var(--main-font-family);
    font-size: 14px;
}