/*.authView {*/
    /*display:inline;*/
    /*float: left;*/
    /*border-radius:50px;*/
    /*border:#9C93D1 solid 2px;*/
    /*background-color: #9EB9D3;*/
    /*padding-right: 50px;*/
    /*vertical-align:bottom;*/
    /*text-align: center;*/
    /*margin-left: -20px;*/
/*}*/

#imgCustomerAuth {
    width: 35px;
    height: 35px;
    border-radius:50%;
    background-color:#9EB9D3;
    margin: 0px;
}

.btnAuthView {
    border:none;
    vertical-align: middle;
    background-color:#ffff;
}

.btnAuthView:hover {
    border:#71C2FF solid;
    border-width: 0 0 5px 0;
}

.authApprove {
    display: none;
}

.authApprove.active {
    display: flex;
    flex-direction: column;
    align-items:center;
}