* {box-sizing: border-box}
/* style the container */
.containerAuthSignUp {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  padding: 30px;
}

.titleAuthSignUp {
  text-align: center;
  font-size: 20px;
  font-family: var(--main-font-family);
  font-weight: bold;
  padding-bottom: 20px;
}

/* style inputs and link buttons */
.containerAuthSignUp {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  font-family: var(--main-font-family);
  line-height: 20px;
  text-decoration: none; 
}

.btnAuthSignUp {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  font-family: var(--main-font-family);
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  color: #fff;
}

.inputAuthSignUp {
  border: 2px solid #ccc;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  font-family: var(--main-font-family);
  line-height: 20px;
  text-decoration: none;
}

.btnAuthSignUp:hover {
  opacity: 1;
  color:#ccc;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.colAuthSignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.rowAuthSignUp {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* vertical line */
.vl {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%);
  height: 175px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottomContainer {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .colAuthForm {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}