* {box-sizing: border-box}
/* style the container */
.containerAuthForm {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  padding: 30px;
}

.titleAuthForm {
  text-align: center;
  font-size: 20px;
  font-family: var(--main-font-family);
  font-weight: bold;
  padding-bottom: 20px;
}

/* style inputs and link buttons */
.containerAuthForm {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  font-family: var(--main-font-family);
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.btnAuthForm {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  font-family: var(--main-font-family);
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  color: #fff;
  background-color: #666;
  cursor: pointer;
}

.inputAuthForm {
  border: 2px solid #ccc;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  font-family: var(--main-font-family);
  line-height: 20px;
  text-decoration: none;
 
}

.btnAuthForm:hover {
  opacity: 1;
  color:#ccc;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.colAuthForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.rowAuthForm {
  display: flex;
  flex-direction: row;
  gap: 5px;
  
}

/* vertical line */
.vl {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%);
  height: 175px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}
/* bottom container */
.bottomContainer {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */

@media only screen and (max-width: 768px) {
  .containerAuthForm {
      max-width: 420px;
  }
  .rowAuthForm {
    flex-direction: column;
    gap:5px;
  }
  .vl {
    top:52%;
  }
}
@media only screen and (max-width: 425px) {
  .containerAuthForm {
      max-width: 370px;
  }
}
@media only screen and (max-width: 375px) {
  .containerAuthForm {
      max-width: 310px;
  }
}
@media only screen and (max-width: 320px) {
  .containerAuthForm {
      max-width: 300px;
  }
}