.adminSideBar {
    display: flex;
    flex-direction: column;
    /*align-items:baseline;*/
    gap: 4px;
    font-size: 16px;
    font-family: var(--main-font-family);
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.2);
    /*margin: 3px;*/
    
}

.admSideBarItem {
    /*border-bottom: 1px solid #ddd;*/
    /*border-radius: 8px;*/
    padding: 6px;
    cursor:pointer;
    /*box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.2);*/
}

.admSideBarItem:hover {
    color: #444;
    background-color: #cccc;
    
}

/*input[type="radio"]:checked {
    color: #444;
    background-color: #cccc;
}*/

.admSideBarItemMenu {
    appearance: none;
}

.adminSideBar i {
    margin-right: 10px;
}