.adminProfile {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
    gap: 3px;
    padding: 3px;
}

.adminProfile i {
    border-radius: 50%;
    font-size: 42px;
}

.admProfileItem {
    width: 100%;
    overflow-wrap:break-word;
    text-align: center;
    padding: 3px;
}