.tabMainFilterTyre {
    width: 100%;
    height: 100%;
}
.tabCoverImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.tabMainFilterWheel {
    width: 100%;
    height: 100%;
}
.tabMainFilterBattery {
    width: 100%;
    height: 100%;
}
.tabMain {
    position: relative;
    bottom: 100%;
    right: 0%;
    overflow: hidden;
    font-family: var(--main-font-family);
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 25px;
    padding: 8px;
}
.tabMain button {
    background-color: #ddd;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight:bolder;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius:15px;
}
.tabMain button:hover {
    background-color: #fff;
}
.tablinksTyres:hover .arrowTabTyres, 
.tablinksWheel:hover .arrowTabWheels, 
.tablinksAkb:hover .arrowTabAkb, 
.tablinksSelect:hover .arrowTabSelect{
    visibility: visible;
    opacity: 1;
}
.tabMain button:focus {
    background-color: #ccc;
    border-width: 5px 5px 5px 5px;
}
.tablinksTyres:focus, .tabMainFilterTyre {
    background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%);
}
.tablinksWheel:focus, .tabMainFilterWheel {
    background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%);
}

.tablinksWheel:focus, .tabMainFilterBattery {
    background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%);
}

.tablinksWheel:focus, .tabMainFilterOil {
    background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%);
}
.tabContentMain {
    position: relative;
    bottom: 100%;
    right: 0%;
    padding: 6px 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 100%;
}
.popularContainer .titlePopular {
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 17px;
    margin:auto;
    padding: 5px;
    background-color:#ccc;
    border-radius:10px;
    width:fit-content;
}
.popularSpan {
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.popularContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.popularBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

@media only screen and (max-width: 2560px) { 
    .tabMainFilterTyre {
        height: 250px;
        max-width: 1440px;
    }
    
    .tabMainFilterWheel {
        height: 250px;
        max-width: 1440px;
    }
  } 
  
@media only screen and (max-width: 1440px) { 
    .tabMainFilterTyre {
        max-height: 250px;
        max-width: 1440px;
    }
    
    .tabMainFilterWheel {
        max-height: 250px;
        max-width: 1440px;
    }
    .tabContentMain {
        max-height: 200px;
    }
} 
  
@media only screen and (max-width: 1024px) { 
    .tabMainFilterTyre {
        min-height: 300px;
        max-width: 1024px;
    }
    
    .tabMainFilterWheel {
        min-height: 300px;
        max-width: 1024px;
    }
    .tabCoverImg {
        min-height: 300px;
    }
    .tabContentMain {
        height: 200px;
    }
} 

@media only screen and (max-width: 795px) { 
    .tabMainFilterTyre {
        min-height: 335px;
        max-width: 795px;
    }
    
    .tabMainFilterWheel {
        min-height: 335px;
        max-width: 795px;
    }
    .tabCoverImg {
        min-height: 335px;
    }
    .tabContentMain {
        min-height: 250px;
    }
} 

@media only screen and (max-width: 768px) { 
    .tabMainFilterTyre {
        max-height: 320px;
        max-width: 768px;
    }
    
    .tabMainFilterWheel {
        max-height: 320px;
        max-width: 768px;
    }
    .tabCoverImg {
        min-height: 335px;
    }
    .tabContentMain {
        min-height: 335px;
    }
} 
  
@media only screen and (max-width: 580px) {
    .tabMainFilterTyre {
        min-height: 350px;
        max-width: 580px;
    }
    
    .tabMainFilterWheel {
        min-height: 350px;
        max-width: 580px;
    }
    .tabCoverImg .tabContentMain {
        min-height: 350px;
    }
} 

@media only screen and (max-width: 500px) {
    .tabMainFilterTyre {
        min-height: 390px;
        max-width: 500px;
    }
    
    .tabMainFilterWheel {
        min-height: 390px;
        max-width: 500px;
    }
    .tabCoverImg .tabContentMain {
        min-height: 390px;
    }
} 

@media only screen and (max-width: 425px) { 
    .tabMainFilterTyre {
        height: 350px;
        max-width: 425px;
    }
    
    .tabMainFilterWheel {
        height: 350px;
        max-width: 425px;
    }
    .tabCoverImg .tabContentMain {
        min-height: 350px;
    }
} 

@media only screen and (max-width: 400px) { 
    .tabMainFilterTyre {
        min-height: 450px;
        max-width: 400px;
    }
    
    .tabMainFilterWheel {
        min-height: 450px;
        max-width: 400px;
    }
    .tabCoverImg .tabContentMain {
        min-height: 450px;
    }
} 

@media only screen and (max-width: 375px) { 
    .tabMainFilterTyre {
        min-height: 480px;
        max-width: 375px;
    }
    .tabMainFilterWheel {
        min-height: 480px;
        max-width: 375px;
    }
    .tabCoverImg .tabContentMain {
        min-height: 480px;
    }

} 
@media only screen and (max-width: 340px) { 
    .tabMainFilterTyre {
        min-height: 630px;
        max-width: 375px;
    }
    
    .tabMainFilterWheel {
        min-height: 630px;
        max-width: 375px;
    }
    .tabCoverImg .tabContentMain {
        min-height: 630px;
    }
} 
@media only screen and (max-width: 320px) { 
    .tabMainFilterTyre {
        min-height: 630px;
        max-width: 320px;
    }
    
    .tabMainFilterWheel {
        min-height: 630px;
        max-width: 320px;
    }
    .tabCoverImg .tabContentMain {
        min-height: 630px;
    }
} 



