/* Style the tab */
.tabMainFilter {
    width: 100%;
    height: 250px;
    background-image:none;
    /*background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%),
    url("../../assets/img/tyreBlueBackground_1.png");*/
}

.tabMain {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    /*border-radius:5px;*/
    /*background-color: #9EB9D3;*/
    margin: 10px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 25px;
}

/* Style the buttons that are used to open the tab content */
.tabMain button {
    background-color: #ddd;
    border: #CADBEA solid 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius:25px;
}

/* Change background color of buttons on hover */
.tabMain button:hover {
    background-color: #fff;
    border-color:#71C2FF;
}

.tablinksTyres:hover .arrowTabTyres, 
.tablinksWheel:hover .arrowTabWheels, 
.tablinksAkb:hover .arrowTabAkb, 
.tablinksSelect:hover .arrowTabSelect{
    visibility: visible;
    opacity: 1;
}



/* Create an active/current tablink class */
/*.tabMain button:active {
    background-color: #ccc;
}*/

.tabMain button:focus {
    background-color: #ccc;
    border: solid #71C2FF;
    border-width: 5px 5px 5px 5px;
}

/*.tablinksWheel {
    display: '';
}*/

.tablinksTyres:focus, .tabMainFilter {
    background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%),
    url("../../assets/img/tyreBlueBackground_1.png");
}

.tablinksWheel:focus, .tabMainFilter{
    background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%),
    url("../../assets/img/wheelBackgroundBlue_1.png");  
}


/* Style the tab content */
.tabContentMain {
    display: '';
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    border-left: none;
    border-right: none;
}

.tabMainFilter h5 {
    text-align: center;
}

.popularBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.arrowTabTyres, .arrowTabWheels, 
.arrowTabAkb, .arrowTabSelect {
    visibility: hidden;
    color:#fff;
    transition: opacity 0.3s;
}

.arrowTabTyres::after {
    content: "";
    position: absolute;
    top: 78%;
    left: 32%;
    margin-left:0px;
    margin-right:0px;
    border-width: 10px;
    border-style: solid;
    border-color: #71C2FF transparent #71C2FF transparent ;
}

.arrowTabWheels::after {
    content: "";
    position: absolute;
    top: 562px;
    left: 43.5%;
    margin-left:0px;
    margin-right:0px;
    border-width: 10px;
    border-style: solid;
    border-color: #71C2FF transparent #71C2FF transparent ;
}

.arrowTabAkb::after {
    content: "";
    position: absolute;
    top: 562px;
    left: 55.2%;
    margin-left:0px;
    margin-right:0px;
    border-width: 10px;
    border-style: solid;
    border-color: #71C2FF transparent #71C2FF transparent ;
}

.arrowTabSelect::after {
    content: "";
    position: absolute;
    top: 562px;
    left: 66.6%;
    margin-left:0px;
    margin-right:0px;
    border-width: 10px;
    border-style: solid;
    border-color: #71C2FF transparent #71C2FF transparent ;
}



