/* Style the tab */
.tabMainFilterTyre {
    width: 100%;
    height: 250px;
    background-image:none;
    overflow: hidden;
}

.tabMainFilterTyre img {
    height: 100%;
    width: 100%;
}
  
.tabCoverImg {
    object-fit: cover;
}

.tabMainFilterWheel {
    width: 100%;
    height: 250px;
    background-image:none;
}

.tabMainFilterWheel img {
    height: 100%;
    width: 100%;
}

.tabMainFilterBattery {
    width: 100%;
    height: 250px;
    background-image:none;
}

.tabMain {
    position: absolute;
    bottom: -10px;
    right: 38.5%;
    overflow: hidden;
    font-family: var(--main-font-family);
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 25px;
    padding: 8px;
}

/* Style the buttons that are used to open the tab content */
.tabMain button {
    background-color: #ddd;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight:bolder;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius:15px;
}

/* Change background color of buttons on hover */
.tabMain button:hover {
    background-color: #fff;
}

.tablinksTyres:hover .arrowTabTyres, 
.tablinksWheel:hover .arrowTabWheels, 
.tablinksAkb:hover .arrowTabAkb, 
.tablinksSelect:hover .arrowTabSelect{
    visibility: visible;
    opacity: 1;
}

.tabMain button:focus {
    background-color: #ccc;
    border-width: 5px 5px 5px 5px;
}

.tablinksTyres:focus, .tabMainFilterTyre {
    background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%);
    /* url("/public/img/tyres_tab_main_1.webp");  */
}

.tablinksWheel:focus, .tabMainFilterWheel {
    background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%);
    /* url("/public/img/wheels_tab_main.webp"); */
}

.tablinksWheel:focus, .tabMainFilterBattery {
    background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%);
    /* url("/public/img/battery_tab_main_1.webp"); */
}

.tablinksWheel:focus, .tabMainFilterOil {
    background-image:
    linear-gradient(45deg, rgb(199, 195, 244, 0.5), rgb(158, 185, 211, 0.5) 50%);
    /* url("/public/img/wheels_tab_main.webp"); */
}

.tabContentMain {
    position: absolute;
    bottom: -110px;
    right: 20%;
    display: '';
    padding: 6px 12px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.popularContainer .titlePopular {
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 17px;
    margin:auto;
    padding: 5px;
    background-color:#ccc;
    border-radius:10px;
    width:fit-content;
}

.popularSpan {
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.popularContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.popularBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

@media only screen and (max-width: 2560px) { 
    .tabMainFilterTyre {
        height: 250px;
        max-width: 1440px;
    }
    
    .tabMainFilterWheel {
        height: 250px;
        max-width: 1440px;
    }
  } 
  
@media only screen and (max-width: 1440px) { 
    .tabMainFilterTyre {
        height: 250px;
        max-width: 1440px;
    }
    
    .tabMainFilterWheel {
        max-height: 250px;
        max-width: 1440px;
    }
} 
  
@media only screen and (max-width: 1024px) { 
    .tabMainFilterTyre {
        max-height: 250px;
        max-width: 1024px;
    }
    
    .tabMainFilterWheel {
        max-height: 250px;
        max-width: 1024px;
    }
} 

@media only screen and (max-width: 768px) { 
    .tabMainFilterTyre {
        height: 250px;
        max-width: 768px;
    }
    
    .tabMainFilterWheel {
        height: 250px;
        max-width: 768px;
    }
  } 
  
@media only screen and (max-width: 580px) {
    .tabMainFilterTyre {
        min-height: 335px;
        max-width: 580px;
    }
    
    .tabMainFilterWheel {
        min-height: 335px;
        max-width: 580px;
    }
} 

@media only screen and (max-width: 425px) { 
    .tabMainFilterTyre {
        height: 350px;
        max-width: 425px;
    }
    
    .tabMainFilterWheel {
        height: 350px;
        max-width: 425px;
    }
} 

@media only screen and (max-width: 400px) { 
    .tabMainFilterTyre {
        min-height: 410px;
        max-width: 400px;
    }
    
    .tabMainFilterWheel {
        min-height: 410px;
        max-width: 400px;
    }
} 

@media only screen and (max-width: 375px) { 
    .tabMainFilterTyre {
        min-height: 460px;
        max-width: 375px;
    }
    
    .tabMainFilterWheel {
        min-height: 460px;
        max-width: 375px;
    }
} 

@media only screen and (max-width: 320px) { 
    .tabMainFilterTyre {
        min-height: 460px;
        max-width: 320px;
    }
    
    .tabMainFilterWheel {
        min-height: 460px;
        max-width: 320px;
    }
} 



