.tabsGoodsCard {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius:5px 5px 0px 0px;
    background-color: #9EB9D3;
    margin: 0px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.tabsGoodsCardLinks {
    appearance: none;
    cursor: pointer;
    border: solid #9EB9D3;
    border-width: 0px 0px 4px 0px;
}

.tabsGoodsCardLinks:hover {
    background-color: #ddd;
    border-bottom: 4px #71C2FF solid;
}


.tabsGoodsCard label {
    border: solid #9EB9D3;
    border-width: 0px 0px 4px 0px;
    cursor: pointer;
}


.tabsGoodsCard label:hover {
    background-color: #ddd;
    border-bottom: 4px #71C2FF solid;
}


.tabsGoodsCard label:active {
    background-color: #ccc;
}

/* Style the tab content */
.tabsContentGoodsCard {
    display: '';
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    margin: 0px;
}