.tabsGoodsCard {
    overflow: hidden;
    border: solid #ccc;
    border-width: 0px 0px 2px 0px;
    border-radius:5px 5px 0px 0px;
    background-color: #fff;
    padding: 0px 0px 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 0px;
}

.tabsGoodsCardLinks {
    appearance: none;
    cursor: pointer;
    border: solid red;
    border-width: 0px 0px 4px 0px;
}

.tabsGoodsCardLinks:hover {
    background-color: #ddd;
    border-bottom: 4px #71C2FF solid;
}


.tabsGoodsCard label {
    border: solid #fff;
    border-width: 0px 0px 4px 0px;
    cursor: pointer;
    width: 250px;
    height: 40px;
    padding: 5px;
    text-align: center;
    vertical-align:baseline;
}


.tabsGoodsCard label:hover {
    background-color: #ddd;
    /*border-bottom: 4px #71C2FF solid;*/
}


.tabsGoodsCard label:active {
    background-color: #ccc;
    border-bottom: 4px #71C2FF solid;
}

.tabsGoodsCard label:focus {
    /*background-color: #ccc;*/
    border-bottom: 4px #71C2FF solid;
}


/* Style the tab content */
.tabsContentGoodsCard {
    display: '';
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    margin: 0px;
}