.tabsGoodsCard {
    overflow: hidden;
    border: solid #ccc;
    border-width: 0px 0px 2px 0px;
    border-radius:5px 5px 0px 0px;
    background-color: #fff;
    padding: 5px 5px 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 0px;
    font-family: var(--main-font-family);
}

.tabsGoodsCardLinks {
    appearance: none;
    cursor: pointer;
    border: solid red;
    border-width: 0px 0px 4px 0px;
}

.tabsGoodsCardLinks:hover {
    background-color: #ddd;
    border-bottom: 4px #71C2FF solid;
}

.labelItem {
    border: solid #fff;
    border-width: 0px 0px 4px 0px;
    cursor: pointer;
    width: 250px;
    height: 40px;
    padding: 5px 5px 0px 5px;
    text-align: center;
    vertical-align:baseline;
}
.tabsGoodsCardActive {
    border: solid #fff;
    border-radius: 8px 8px 0px 0px;
    border-width: 0px 0px 4px 0px;
    cursor: pointer;
    width: 250px;
    height: 40px;
    padding: 5px 5px 0px 5px;
    text-align: center;
    vertical-align:baseline;
    background-color: #ddd;
}

.labelItem:hover {
    background-color: #ddd;
    border-radius: 8px 8px 0px 0px;
    /* border-bottom: 4px #71C2FF solid; */
}

.labelItem:active {
    background-color: #ccc;
    /* border-bottom: 4px #71C2FF solid; */
}

.labelItem:focus {
    background-color: #ccc;
    /* border-bottom: 4px #71C2FF solid; */
}
/* Style the tab content */
.tabsContentGoodsCard {
    display: '';
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    margin: 0px;
}
.tabCountReview {
    background-color: orange;
    border-radius: 30px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 6px;

}