.sortLine {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 3px;
    margin: 5px;
    
}

.sortLineItem {
    border-bottom: solid #ffff 3px;
}

.sortLineItem:hover {
    /*text-decoration: solid underline #71C2FF 3px;*/
    cursor: pointer;
    border-bottom: #71C2FF solid 3px;
}