.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.path {
  animation:  1s linear 0.2s infinite running rise;
  fill: #000;
  stroke: #000;
  stroke-width: 50;
  height: 60px;
  width: 60px;
}

@keyframes rise {
  from {
    transform: translateX(-180vh);
  }
  to {
    transform: translateX(180vh);
  }
}
  
@keyframes bounce {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(50vw);
  }
}
  