.spinner {
    /* height: 300px;
    width: 300px; */
    /* border: #000 solid; */
    text-align: center;
    vertical-align: middle;
    /* animation: DrawLine 1.6s both infinite alternate linear; */
    
    /* animation: rotate 1.2s linear 0s infinite; */
  }
  .path {
    /*transform-origin: top left;*/
    /*animation: rotate 1.2s linear 0s infinite;*/
    /*transform: translateX(50px);*/
    /* animation: Rotate 2.4s both infinite linear; */
    animation:  1s linear 1s infinite running rise;
    fill: #000;
    stroke: #000;
    stroke-width: 50;
    height: 60px;
    width: 60px;
  }

  /* @keyframes Rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  } 
    @keyframes DrawLine {
    0% {
      stroke-dasharray: 126 0;
    } 
      100% {
      stroke-dasharray: 126 0;
    }
  }  */

  @keyframes rise {
    from {
      transform: translateX(-180vh);
    }
    to {
      transform: translateX(180vh);
    }
  }
  
  @keyframes bounce {
    from {
      transform: translateX(-50vw);
    }
    to {
      transform: translateX(50vw);
    }
  }
  