.containerAdmOrderSupForm {
    width: 1100px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.admFormOrderSupData {
    width: 122px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormOrderSupId {
    width: 100px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormOrderSupCustm {
    width: 375px;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    gap:3px;

}
.admFormOrderSupName {
    width: 250px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vert*/
}

.admFormOrderSupNotes {
    width: 650px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.admFormOrderSupCommit {
    margin: 10px;
}

.admFormOrderSupCommitChat {
    padding-bottom: 5px;
    padding-top: 8px;
}

.admFormOrderSupAddCommit {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 8px;
}

.admOrderSupCommitText {
    width: 80%;
}

.admFormOrderSupDelivery {
    width: 140px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user*/
}

.admFormOrderSupStorage {
    width: 170px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user*/
}

.admFormOrderSupStatus {
    width: 140px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vert*/
}

.admOrderSupFormGrp {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.admFormOrderSupBtnAdd {
    height: 40px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    vertical-align:middle;
}

.admFormOrderSupBtnAdd:hover {
    background-color: #2caf30;
}

.admFormOrderSupBtnCancel {
    background-color: #ff003f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormOrderSupBtnCancel:hover {
    background-color:#f44336;
}

.admFormOrderSupBtnSave {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormOrderSupBtnSave:hover {
    background-color: #2caf30;
}

.admFormOrderSupBtnOk {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormOrderSupBtnOk:hover {
    background-color: #2caf30;
}

.admFormDataOrderSup {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    flex-wrap:wrap;
    gap: 3px;
}
.admFormSearchCustm {
    margin-left: 3px;
    width: 30px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.admFormAddCustm {
    margin-left: 3px;
    width: 30px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color:#4CAF58;
}

.admFormSearchCustm:hover {
    background-color:#ccc;
}

.admFormAddCustm:hover {
    background-color:#4CAF50;
}

.admFormOrderSupTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    
}
.admFormOrderSupTable tr, .admFormOrderSupTable th {
    border: 1px solid #ddd;
    padding: 8px 5px;
}

.admFormOrderSupTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #444;
}

.admFormOrderSupTable i {
    margin-left: 3px;
}

.admFormOrderSupTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admFormOrderSupTable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admFormOrderSupTable td {
    padding: 5px; 
}

/* Add a background color and some padding around the form */
