.admModalCustmBox {
    max-height: 500px;
}

.headerAdmModalCustmBoxId {
    width: 40px;
}
.headerAdmModalCustmBoxName {
    width: 180px;
}
.headerAdmModalCustmBoxPhone {
    width: 160px;
}
.headerAdmModalCustmBoxContract {
    width: 200px;
}
.headerAdmModalCustmBoxIdContr {
    width: 40px;
}
.headerAdmModalCustmBoxBonus {
    width: 20px;
}
.headerAdmModalCustmBoxBalance {
    width: 20px;
}

.admInpModalCustm {
    /*background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    border-radius: 15px;
}

.admModalCustmTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}
.admModalCustmTable .admModalCustmTableData {
    width: 100%;
    max-height: 450px;
    overflow-x: auto;
}
.admModalCustmTable th, .admModalCustmTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

.admModalCustmTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

/* .admModalCustmTable tr.admModalHeaderCustm, .admModalCustmTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    /*background-color: #f1f1f1;
/*} */

.admCustomersGridItem {
    vertical-align:middle;
    display: grid;
    grid-template-columns: 40px 180px 150px 180px 80px 80px 50px;
    grid-column-gap: 10px;
}

/* .admCustomersGridItem .admWheelGridItemBtn {
    display: flex;
    flex-direction: row;
} */
/* .admWheelTableColmId tr {
    border: 1px solid #ddd;
    padding: 8px 5px;
}  */
.admCustomerTableColmId .admCustomersGridItem:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* .admWheelTableHeader {
    display: flex;
    flex-direction: column;

    position: sticky; 
    top: 0px;
} */