.admModalSuppliersBox {
    max-height: 500px;
}

.headerAdmModalSuppliersBoxId {
    width: 45px;
}

.headerAdmModalSuppliersBoxName {
    width: 135px;
}

.headerAdmModalSuppliersBoxPhone {
    width: 100px;
}

.headerAdmModalSuppliersBoxCity {
    width: 100px;
}

.headerAdmModalSuppliersBoxSupTel {
    width: 100px;
}

.headerAdmModalSuppliersBoxContract {
    width: 80px;
}

.headerAdmModalSuppliersBoxIdContr {
    width: 40px;
}

.headerAdmModalSuppliersBoxBalance {
    width: 80px;
}

.admInpModalSuppliers {
    /*background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    border-radius: 15px;
}

.admModalSuppliersTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}
.admModalSuppliersTable .admModalSuppliersTableData {
    width: 95%;
    max-height: 450px;
    overflow-x: auto;
}

.admModalHeaderSuppliers {
    font-size: small;
    background-color: #4CAF50;
}
.admModalSuppliersTable th, .admModalSuppliersTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

.admModalSuppliersTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

/* .admModalCustmTable tr.admModalHeaderCustm, .admModalCustmTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    /*background-color: #f1f1f1;
/*} */

.admSuppliersGridItem {
    vertical-align:middle;
    display: grid;
    grid-template-columns: 55px 175px 115px 145px 100px 115px 55px 80px;
    grid-column-gap: 5px;
}

/* .admCustomersGridItem .admWheelGridItemBtn {
    display: flex;
    flex-direction: row;
} */
/* .admWheelTableColmId tr {
    border: 1px solid #ddd;
    padding: 8px 5px;
}  */
.admSuppliersTableColmId .admSuppliersGridItem:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* .admWheelTableHeader {
    display: flex;
    flex-direction: column;

    position: sticky; 
    top: 0px;
} */