
.containerAdmOrderForm {
    width: 1100px;
    height: 580px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 10px 0px 10px;
}

.admFormDataOrder {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:baseline;
    flex-wrap:wrap;
    margin: 0px;
    gap: 3px;
}

.admFormOrderData {
    width: 122px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormOrderId {
    width: 95px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormOrderTtn {
    width: 180px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormOrderContract {
    width: 200px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormOrderCustm {
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    margin-right: 5px;

}
.admFormOrderName {
    width: 200px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the user to vert*/
}

.admFormOrderNotes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    gap: 8px;
    margin-left: 10px;
}

.admFormOrderNotesText {
    width: 90%; /* Full width */
    height: 30px;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.admFormOrderCommit {
    margin: 5px;
}

.admFormOrderCommitChat {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    border: solid 1px #ccc;
    border-radius: 8px;
}

.admFormOrderAddCommit {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 8px;
}

.admOrderCommitText {
    width: 80%;
}

.admFormOrderDelivery {
    width: 135px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the user*/
}

.admFormOrderStorage {
    width: 155px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the user*/
}

.admFormOrderOrganiz {
    width: 165px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the user*/
}

.admFormOrderView {
    width: 93px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the user*/
}

.admFormOrderStatus {
    width: 120px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the user to vert*/
}

.admFormOrderStatusDel {
    width: 148px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the user to vert*/
}

.admFormOrderViewPay {
    width: 120px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the user*/
}

.admFormOrderStatusPay {
    width: 140px; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical /* Allow the user to vert*/
}

.admOrderFormGrp {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.admFormOrderBtnAdd {
    height: 40px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    vertical-align:middle;
}

.admFormOrderBtnAdd:hover {
    background-color: #2caf30;
}

.admFormOrderBtn {
    background-color: #ff003f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormOrderBtn:hover {
    background-color:#f44336;
}

.admFormOrderBtnSave {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormOrderBtnSave:hover {
    background-color: #2caf30;
}

.admFormOrderBtnSaveDsb {
    background-color: #ddd;
    color: #444B54;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.admFormOrderBtnOk {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormOrderBtnOk:hover {
    background-color: #2caf30;
}
.admFormOrderBtnOkDsb {
    background-color: #ddd;
    color: #444B54;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormSearchCustm {
    margin-left: 3px;
    width: 30px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.admFormAddCustm {
    margin-left: 3px;
    width: 30px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color:#4CAF58;
}

.admFormSearchCustm:hover {
    background-color:#ccc;
}

.admFormAddCustm:hover {
    background-color:#4CAF50;
}

.admFormOrderTableBox {
    width: 100%;
    height: 110px;
    margin-bottom: 5px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px 0px 0px 8px;
    /*: 4px 0px 4px 0px;*/
}

/*.admFormOrderTableTh th {
    position: sticky;
}*/

.admFormOrderTable {
    width: 100%;
    /*height: 100px;*/
    border-collapse: collapse;
    font-size: 12px;
    /*overflow-y: auto;*/
    
}
.admFormOrderTable tr, .admFormOrderTable th {
    border: 1px solid #ddd;
    padding: 8px 5px;
}

.admFormOrderTable thead {
    position:sticky;
}

.admFormOrderTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #444;
    /*position:sticky;*/
}

.admFormOrderTable tbody {
    height: 12px;
    /*overflow-y: auto;*/
}

.admFormOrderTable i {
    margin-left: 3px;
}

.admFormOrderTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admFormOrderTable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admFormOrderTable td {
    padding: 5px; 
}

/* Add a background color and some padding around the form */
