
.admInpModalGoods {
    /*background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    border-radius: 10px;
    
}

.admModalGoodsBox {
    width: 950px;
    height: 400px;   
}

.admModalGoodsHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 15px;
}

.admChooseLabelMod {
    margin: 5px;
    gap: 30px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    background-color:#ddd;
    cursor: pointer;
}

.admChooseLabelMod:hover {
    background-color:#ccc;
}

.admChooseLabelMod input {
    appearance: none;
    
}

.admModalGoodsTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 14px; /* Increase font-size */
    /*overflow-y: auto;*/
}

.admModalGoodsTableBox {
    width: 100%;
    height: 300px;
    /* overflow-y: auto; */
}

.admModalGoodsTable th, .admModalGoodsTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

.admModalGoodsTable tbody {
    cursor: pointer;
}

.admModalGoodsTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

.admModalGoodsTable thead {
    background-color: #4CAF50;
    position: sticky;
}

.admModalGoodsTable thead:hover {
    background-color: #4CAF50;
}

.admModalGoodsTable tr.admModalHeaderGoods, .admModalGoodsTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.admModalGoodsGridItem {
    vertical-align:middle;
    display: grid;
    grid-template-columns: 75px 350px 100px 80px 50px 140px 50px;
    grid-column-gap: 10px;
}
/* .admModalGoodsTableColmId {
    overflow: hidden;
} */
.admModalGoodsGridItem:nth-child(even) {
    background-color: #f2f2f2;
}
.admModalGoodsGridItem .admOrderGridItemBtn {
    display: flex;
    flex-direction: row;
}
.admModalGoodsTableColmId tr {
    border: 1px solid #ddd;
    padding: 8px 5px;
} 
.admModalGoodsTableColmId .admModalGoodsGridItem:hover {
    background-color: #ddd;
    cursor: pointer;
}
.admModalGoodsGridItemId {
    width: 65px;
}
.admModalGoodsGridItemName {
    width: 390px;
}
.admModalGoodsGridItemCat {
    width: 30px;
}
.admModalGoodsGridItemPrice {
    width: 80px;
}
.admModalGoodsGridItemStock {
    width: 20px;
}
.admModalGoodsGridItemStor {
    width: 150px;
}
.admModalGoodsGridItemStockId {
    width: 100px;
}