.admFormPayIncomeData {
    width: 122px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormPayIncomeId {
    width: 100px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormPayIncomeCustm {
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items:baseline;

}
.admFormPayIncomeIds {
    width: 175px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vert*/
}

.admFormPayIncomeNotes {
    width: 650px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.admFormPayIncomeCashbox {
    width: 190px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormPayIncomeType {
    width: 150px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormPayIncomeViews {
    width: 225px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admFormPayIncomeSum {
    width: 150px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the us*/
}

.admPayIncomeFormGrp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;  
}

.admFormPayIncomeBtnAdd {
    height: 40px;
    background-color: #ccc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    vertical-align:middle;
}

.admFormPayIncomeBtnAddActive {
    height: 40px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    vertical-align:middle;
}

.admFormPayIncomeBtnAddActive:hover {
    background-color: #2caf30;
}

.admFormPayIncomeBtn {
    background-color: #ff003f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormPayIncomeBtnSave {
    background-color: #ccc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormPayIncomeBtnSaveActive {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormPayIncomeBtnSaveActive:hover {
    background-color: #2caf30;
}

.admFormPayIncomeBtnOk {
    background-color: #ccc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormPayIncomeBtnOkActive {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admFormPayIncomeBtnOkActive:hover {
    background-color: #2caf30;
}

.admFormDataPayIncome {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    flex-wrap:wrap;
    gap: 8px;
}
.admFormSearchCustm {
    margin-left: 3px;
    width: 30px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.admFormAddCustm {
    margin-left: 3px;
    width: 30px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color:#4CAF58;
}

.admFormSearchCustm:hover {
    background-color:#ccc;
}

.admFormAddCustm:hover {
    background-color:#4CAF50;
}

.admFormPayIncomeTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    
}
.admFormPayIncomeTable tr, .admFormPayIncomeTable th {
    border: 1px solid #ddd;
    padding: 8px 5px;
}

.admFormPayIncomeTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #444;
}

.admFormPayIncomeTable i {
    margin-left: 3px;
}

.admFormPayIncomeTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admFormPayIncomeTable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admFormPayIncomeTable td {
    padding: 5px; 
}

/* Add a background color and some padding around the form */
.containerAdmPayIncomeForm {
    width: 1100px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}