
h1 {
    font-size: 50px;
    font-family: var(--main-font-family);
    word-break: break-all;
}

.rowCatalogTyres {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    /*gap: 3px;*/
}


/* Style the buttons */
.btnCatalog {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btnCatalog:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btnCatalog.active {
  background-color: #666;
   color: white;
}

.btnContainerCatalogTyres {
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    gap: 3px;
}

.popularCatalogTyre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content:center;*/
    /*align-items:flex-start;*/
    margin: 3px;
}

.popularCatalogTyre .span {
    width: fit-content;
}

.sortBtnCatalog {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  gap: 5px;
  font-family: var(--main-font-family);
}