.contactPageContainer {
    display: block;
    font-family: var(--main-font-family);
    margin-top: 50px;
    margin-left: auto; 
    margin-bottom: 50px;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}
.contactPageBox {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;
}   
.contactPageTitle {
    font-weight: bold;
}
.contactPageAddress {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 8px;
    padding: 8px;
}
.contactPagePhone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding: 8px;
}
.contactPageSocial {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding: 8px;
}
.contactPageSchedule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding: 8px;
}
@media only screen and (max-width: 2560px) {
    .contactPageContainer {
        max-width: 1400px;
    }
}
@media only screen and (max-width: 1440px) {
    .contactPageContainer {
        max-width: 996px;
    }
}
@media only screen and (max-width: 1024px) {
    .contactPageContainer {
        max-width: 728px;
    }
}
@media only screen and (max-width: 768px) {
    .contactPageContainer {
        max-width: 385px;
    }
}
@media only screen and (max-width: 425px) {
    .contactPageContainer {
        max-width: 335px;
    }
}
@media only screen and (max-width: 375px) {
    .contactPageContainer {
        max-width: 280px;
    }
}
@media only screen and (max-width: 320px) {
    .contactPageContainer {
        max-width: 280px;
    }
}