.deliveryGoodsPage {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-areas: 
                    "aDev aDev aDev aDev"
                    "hDev hDev hDev hDev"
                    "bDev cDev cDev cDev"
                    "bDev gDev gDev gDev"
                    "bDev dDev dDev dDev"
                    "bDev eDev eDev eDev"
                    "bDev fDev fDev fDev";
    grid-gap:5px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    font-family: var(--main-font-family);
}

.aDev {
    grid-area: aDev;
}

.bDev {
    grid-area: bDev;
    /* border: rebeccapurple solid 3px; */
}

.cDev {
    grid-area: cDev;
    /* border: rebeccapurple solid 3px; */
}
.gDev {
    grid-area: gDev;
    /* border: rebeccapurple solid 3px; */
}

.dDev {
    grid-area: dDev;
    border-radius: 10px;
    display: flex; 
    flex-direction: row;
    justify-content:center;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* border: rebeccapurple solid 3px; */
    padding: 18px 18px 25px 18px;
}

.eDev {
    grid-area: eDev;
    /* border: rebeccapurple solid 3px; */
}

.fDev {
    grid-area: fDev;
    display: flex; 
    flex-direction: row;
    justify-content:center;
    /* border: rebeccapurple solid 3px; */
}

.hDev {
    grid-area: hDev;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    gap: 25px;
    margin-left: 75px;
    margin-right: 75px;
}
.hDev .deliveryGoodsPageHtitle {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.deliveryGoodsMap {
    width: 600px;
}
.deliveryGoodsList {
    width: 420px;
}

.deliveryGoodsDeliveryChoose {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.deliveryGoodsDepartData {
    height: 295px;
}

.deliveryGoodsDepartDataList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1px;
    margin: 5px;
    padding: 1px;
    max-height: 295px;
}

.deliveryGoodsDepartDataList ul {
    list-style-type: none;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 20px;
}
.deliveryGoodsListDepartment {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 8px;
    margin-right:4px;
}
.deliveryGoodsListDepartment:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #ddd;
}
.deliveryGoodsListDepartment:active {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #ccc;
}
.deliveryGoodsListDepartment.active {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 8px;
    margin-right:4px;
    background-color: #cccc;
}
.deliveryGoodsCityInRegion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 600px;
}

.deliveryGoodsCityInRegion ul {
    list-style-type: none;
}
.deliveryGoodsCityInRegion li {
    margin-bottom: 10px;
}
.deliveryGoodsCityInRegion a {
    text-decoration: none;
}
.deliveryGoodsCityInRegionList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 350px;
}
.deliveryGoodsDeliveryChooseBtn{
    border: #ccc solid;
    border-width:0 0 5px 0;
    margin-bottom: 5px;
    cursor: pointer;
}

.deliveryGoodsDeliveryChooseBtn:hover {
    border: #71C2FF solid;
    border-width:0 0 5px 0;
}
.deliveryGoodsDeliveryChooseBtn.active {
    border: #71C2FF solid;
    border-width:0 0 5px 0;
    background-color: #ffff;
}
