.deliveryGoodsPage {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-areas: 
                    "a a a a"
                    "b c c c"
                    "b g g g"
                    "b d d d"
                    "b e e e"
                    "b f f f";
    grid-gap:5px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    font-family: var(--main-font-family);
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
    /* border: rebeccapurple solid 3px; */
}

.c {
    grid-area: c;
    /* border: rebeccapurple solid 3px; */
}
.g {
    grid-area: g;
    /* border: rebeccapurple solid 3px; */
}

.d {
    grid-area: d;
    border-radius: 10px;
    display: flex; 
    flex-direction: row;
    justify-content:flex-start;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* border: rebeccapurple solid 3px; */
}

.e {
    grid-area: e;
    /* border: rebeccapurple solid 3px; */
}

.f {
    grid-area: f;
    /* border: rebeccapurple solid 3px; */
}
.deliveryGoodsMap {
    width: 600px;
}
.deliveryGoodsList {
    width: 420px;
}

.deliveryGoodsDeliveryChoose {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.deliveryGoodsDepartData {
    height: 295px;
}

.deliveryGoodsDepartDataList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1px;
    margin: 5px;
    padding: 1px;
    max-height: 295px;
}

.deliveryGoodsDepartDataList ul {
    list-style-type: none;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 20px;
}
.deliveryGoodsDepartDataList li {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 8px;
    margin-right:4px;
}
.deliveryGoodsDepartDataList li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #ddd;
}
.deliveryGoodsDepartDataList li:active {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #ccc;
}
.deliveryGoodsCityInRegion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
}

.deliveryGoodsCityInRegion ul {
    list-style-type: none;
}
.deliveryGoodsCityInRegion li {
    margin-bottom: 10px;
}
.deliveryGoodsCityInRegion a {
    text-decoration: none;
}
