.newsBox {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.newsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

@media only screen and (max-width: 2560px) {
    .newsBox {
        max-width: 1430px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1440px) {
    .newsBox {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .newsBox {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 768px) {
    .newsBox {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 425px) {
    .newsBox {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 375px) {
    .newsBox {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 320px) {
    .newsBox {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}