.searchContainer {
    font-family: var(--main-font-family);
    margin-left: 60px;
    margin-right: 60px;
}
.inputSearchContatiner {
    border:#ccc 1px solid;
    border-radius: 20px;
    padding: 12px 16px;
    font-size: large;
}
.searchBtnContainer {
    border:none;
    border-radius: 20px;
    margin-left: 5px;
    padding: 12px 16px;
    font-size: large;
    cursor: pointer;
}
.searchBtnContainer:hover {
    background-color: #cccc; 
    cursor: pointer;    
}
.searchBtnContainer:active {
    background-color: #666;
}   
.btnCatalogSearch {
    font-family: var(--main-font-family);
    border-radius: 20px;
    outline: none;
    padding: 12px 16px;
    background-color: #ddd;
    cursor: pointer;
}
.activeBtn {
    background-color: #ccc;
    padding: 12px 16px;
    border-radius: 20px;
    font-family: var(--main-font-family);
    /* font-weight: bold; */
    cursor: pointer;
}
.activeBtn:hover {
    background-color: #cccc; 
    cursor: pointer;    
}
.activeBtn:active {
    background-color: #666;
}
.btnCatalogSearch:hover {
    background-color: #ddd;
    cursor: pointer;
}

.btnCatalogSearch:active {
    background-color: #666;
}
.btnSearchTabContainer {
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    gap: 3px;
}
.rowCatalogSearch {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.outputDataSearchBox {
    margin-left: 16%;
    margin-right: 2%;
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    /* text-align: center; */
}
.searchPagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.countSearchPage {
    margin-left: 6px;
    margin-right: 6px;
    background-color: tomato;
    padding: 1px 4px 1px 4px;
    border-radius: 10px;
}