.checkOrderContainer {
   display: block; 
   max-height: 450px;
   margin: 15px;
}

.checkOrder {
    display: flex;
    max-height: 350px;
    overflow-y: auto;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-end; 
    gap: 20px;
    margin: 5px;
    padding: 8px;
}




