.reviewStore {
  display: block;
  width: 100%;
  max-height: 355px;
  font-family: var(--main-font-family);
}

.reviewsStoreContainer{
  background: #ddd;
  border-radius:10px;
  max-height: 290.4px;
}

.mySlidesStoreReview {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  padding: 15px;
  height: 200px;
  width: 100%;
} 

.authorStoreReview {
  padding: 5px;
  grid-column: 1/2;
  font-size: 15px;
  font-family: var(--main-font-family);
  color: #444B54;
}

.authorStoreReview .avatarImgStore {
  width: 35px;
  height: 35px;
  border-radius:50%;
  background-color:#9EB9D3;
  vertical-align: middle;
  margin-right: 3px;
}

.ratingStoreReview {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  grid-column:2/3;
  font-size: 15px;
  font-family: var(--main-font-family);
}

.contentStoreReview {
  grid-column: 1/3;
  grid-row: 2;
  font-size: 15px;
  font-family: var(--main-font-family);
}

.dateStoreReview { 
  grid-column: 1/2;
  grid-row: 3;
  font-size: 15px;
  font-family: var(--main-font-family);
}

.prevReview, .nextReview {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  font-family: var(--main-font-family);
  border-radius: 0 3px 3px 0;
  user-select: none;
}
  
.nextReview {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
  
.prevReview:hover, .nextReview:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
  
.dotReviewContainerStore {
  display: flex;
  height: 65.6px;
  padding: 17px;
  justify-content: space-around;
  background: #ddd;
  border-radius:0 0 10px 10px;
}

.dotReviewContainerStore .reviewsAllLink {
  font-size: 14px;
  font-family: var(--main-font-family);
}

.btnStoreReview {
  border:none;
  border-radius:5px;
  background-color: #9c93d1;
  font-size: 18px;
  font-family: var(--main-font-family);    
}

@media only screen and (max-width: 2560px) { 
  .reviewStore {
    width: 655px;
  }
  .mySlidesStoreReview {
    max-width: 625px;
  }
} 

@media only screen and (max-width: 1440px) { 
  .reviewStore {
    max-width: 655px;
  }
  .mySlidesStoreReview {
    max-width: 625px;
  }
} 

@media only screen and (max-width: 1024px) { 
  .reviewStore {
    max-width: 655px;
  }
  .mySlidesStoreReview {
    max-width: 625px;
  }
} 

@media only screen and (max-width: 768px) { 
  .reviewStore {
    max-width: 400px;
  }
  .mySlidesStoreReview {
    max-width: 370px;
  }
} 

@media only screen and (max-width: 425px) { 
  .reviewStore {
    max-width: 360px;
  }
  .mySlidesStoreReview {
    max-width: 330px;
  }
} 

@media only screen and (max-width: 375px) { 
  .reviewStore {
    max-width: 310px;
  }
  .mySlidesStoreReview {
    max-width: 280px;
  }
} 

@media only screen and (max-width: 320px) { 
  .reviewStore {
    max-width: 300px;
  }
  .mySlidesStoreReview {
    max-width: 270px;
  }
} 

  
 
  