.reviewGoodsOverall {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 60px;
    border-radius:10px;
    background-color:#CADBEA;
    width: 100%;
    /* width: 905px; */
    padding: 10px;
    font-family: var(--main-font-family);   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.headerGoodsOverall {
    font-size: 20px;
    font-family: var(--main-font-family);
}

.headingGoodsOverall p {
    font-size: 14px;
    font-family: var(--main-font-family);
}

