.reviewStoreCreate {
    margin: 10px;
    width: 570px;
    height: 450px;
    font-family: var(--main-font-family);
    overflow:hidden;
}

.reviewStoreCreate h4 {
    margin-top: 18px;
    margin-bottom: 18px;
}

.reviewStoreRatingList {
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items:flex-start;
    gap: 10px;
    width: 100%;
}

.reviewStoreInputRatingBox {
    height: 250px;
}

.reviewStoreInputRating {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    width: 100%;
}
.reviewStoreInputRating textarea {
    width: 100%;
}

.reviewStoreInputRating input {
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: large;
    padding: 2px;
}
.reviewStoreInputRating textarea {
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: large;
    padding: 2px;
}
.reviewStoreErrors {
    color: red;
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 2px;
    font-size: small;
}

@media only screen and (max-width: 768px) {
    .reviewStoreCreate {
        margin: 0px;
        width: 270px;
    }

    .reviewStoreRatingList {
        width: 270px;
    }

    .reviewStoreInputRating {
        width: 270px;
    }

    .reviewStoreInputRatingBox {
        height: 210px;
    }
}