.reviewsBrand {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    padding: 10px;
    width: 905px;
    background-color:#CADBEA;
    border-radius:10px;
    gap:50px;
    font-family: var(--main-font-family);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.reviewsBrand .reviewBrandTitle {
    font-size: 20px;
}

.reviewsBrand .reviewBrandName {
    font-size: 18px;
    margin-bottom: 8px;
}

.reviewsBrand span {
    font-size: 14px;
}

.reviewsBrand img {
    width: 75px;
    height: 25px;
}

.reviewBrandList {
    display: flex;
    flex-direction: column;
    width:165px;
    font-size: 14px;
    font-family: var(--main-font-family);
    /*justify-content: center;*/
    /*gap:5px;*/
}
