.answerBox {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    /*grid-column: 1/3;
    grid-row: 4/7;*/
  }

  #answerStoreLogo{
    width: 151px;
    height: 50px;
    padding: 5px;
    /*grid-column: 1;*/
  }
  /*.answerStoreLogo {
    border:red solid 2px;
  }*/

  .answerShopName {
   
    grid-column: 1/3;
    vertical-align:sub;
  }

  .answerDate {
   
    grid-column: 3/3;
    text-align: center;
    padding-top: 5px;
  }

  .answerContent {
   
    grid-column: 1/4;
    grid-row: 2;
  }

