.reviewGoods {
  width:655px;
  height:355px;
}

.reviewsGoodsContainer {
    position: relative;
    background: #CADBEA;
    font-family: 'Fredoka', sans-serif;
    border-radius:10px 10px 0 0;
    height: 290.4px;
  }
  
  /* Slides */
  .mySlidesGoodsReview {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    /*margin-top: 25px;*/
    padding: 15px;
    /*text-align: center;*/
  }

  .authorGoodsReview {
    text-align: left;
    vertical-align:sub;
    padding: 5px;
    color: #444B54;
    font:bold;
    grid-column: 1/3;
}
  .authorGoodsReview img {
   width: 35px;
   height: 35px;
   border-radius:50%;
   background-color:#9EB9D3;
   /*vertical-align:text-bottom;*/
}


.ratingGoodsReview {
    text-align: right;
    grid-column: 3/5;
}
.reviewUsesCars {
    grid-column: 1/5;
    grid-row:2;
}

.reviewGoodsExpier {
  grid-column:1/5;
  grid-row: 3;
}

.AddedGoodsReview {
    grid-column: 1/5;
    grid-row:4;
}

.contentGoodsReview {
    grid-column: 1/5;
    grid-row:5;
}

.dateGoodsReview {
    grid-column: 1/3;
    grid-row: 6;
}

.thumbGoodsReview {
  grid-column: 3/5;
  grid-row: 6;
  text-align:right;
}

.thumbGoodsReview img {
    width: 30px;
    height: 30px;
}

  /* Next & previous buttons */
  .prevReview, .nextReview {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #444B54;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .nextReview {
    position: absolute;
    right: -30px;
    border-radius: 10px;
  }
  /* Position the "previous button" to the left */
  .prevReview {
    /*position: absolute;*/
    left: -30px;
    /*border-radius: 3px 0 0 3px;*/
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prevReview:hover, .nextReview:hover {
    background-color: #9EB9D3;
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dotReviewContainer {
    text-align: center;
    padding: 20px;
    background: #ddd;
    border-radius:0 0 10px 10px;
  }
  

