.reviewGoodsOverall {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 25px;
    border-radius:10px;
    background-color:#CADBEA;
    width: 905px;
    padding: 10px;
    font-family: var(--main-font-family);    
}

/*.headingGoodsOverall span {
    font-size: 10px;
    /*font-family: var(--main-font-family);*/
/*}*/

.headerGoodsOverall {
    font-size: 20px;
    font-family: var(--main-font-family);
}

.headingGoodsOverall p {
    font-size: 14px;
    font-family: var(--main-font-family);
}