/* Navbar container */
.navbar {
  background-color: #fff;
  font-family: var(--main-font-family);
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items:center;
  width: 100%;
}

.navbarMobile {
  background-color: #fff;
  font-family: var(--main-font-family);
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items:center;
  width: 100%;
}

.navBarLogoBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  gap: 10px;
}
.navBarLogoBox i {
  transition: 0.3s all linear;
}
.navbar img {
  width: 162px;
  height: 62px;
  /*margin-left: 50px;*/
  cursor: pointer;
}
  
  /* Links inside the navbar */
.navbar .anchorBtn {
  /*float: left;*/
  font-size: 16px;
  font-family: var(--main-font-family);
  color: #444B54;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius:2px;
}
  
  /* Add a red background color to navbar links on hover */
.navbar .anchorBtn:hover {
  border: #71C2FF solid;
  border-width:0 0 5px 0;
}

.enterAuthNavBar {
  cursor: pointer;
  padding: 3px;
}

.enterAuthNavBar:hover {
  background-color:  #9EB9D3;
  border-radius:20px;
}
.navbarPhoneBox {
  display:flex;
  flex-direction: column;
  background-color: #ffff;
  margin: 1px;
  border-radius: 10px 10px 0px 0px;
  
}
.navbarPhone {
  font-size: 16px;
  font-family: var(--main-font-family);
  color: #444B54;
  padding: 10px;
  text-align: center;
  vertical-align:sub;
}
.navbarPhoneDropDown {
  display: none;
}
.navbarPhoneBtnUp {
  display: none;
}
.navbarPhoneBtn {
  font-weight:bolder;
  color: #444B54;
}
.navbarPhoneBox:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.navbarPhoneBox:hover .navbarPhoneDropDown {
  display:flex;
  transition: 0.3s all linear;
  flex-direction: column;
  gap: 1px;
  position: absolute;
  top: 12.5%;
  color: #444B54;
  background-color: #ffff;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 23px;
  padding-bottom: 10px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
 
}
.navbarPhoneBox:hover .navbarPhoneBtnDown {
  display: none;
}
.navbarPhoneBox:hover .navbarPhoneBtnUp {
  display: inline;
}

@media only screen and (max-width: 2560px) { 
  .navbar {
    max-width: 2560px;
  }
}

@media only screen and (max-width: 1440px) { 
  .navbar {
    max-width: 1440px;
  }
}

@media only screen and (max-width: 1024px) { 
  .navbar {
    max-width: 1024px;
  }
}

@media only screen and (max-width: 768px) { 
  .navbar {
    max-width: 768px;
  }
}

@media only screen and (max-width: 426px) { 
  .navbar {
    background-color: #fff;
    font-family: var(--main-font-family);
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
    max-width: 425px;
  }
}

@media only screen and (max-width: 320px) { 
  .navbar {
    max-width: 320px;
  }
  .navBarLogoBox {
    gap: 4px;
  }
}
  
