.filterCatalogTyres {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    /* border: 2px solid palevioletred; */
}

.filterCatalogTyresHeader {
    display: flex;
    width: 250px; 
    /* width: 250px; */
    flex-direction: row;
    gap: 5px;
    align-items:center;
    justify-content: space-around;
    background-color: #ffff;
    position: sticky;
    top:0px;
    z-index: 9999;
    padding: 5px;
}

.filterTyresOption {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:2px;
    font-family: var(--main-font-family);
}

.checkBoxBtnOn {
    position: absolute;
    cursor: pointer;
    background-color: #71C2FF;
    color: #444;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin: auto;
    width: 100px;
    height: auto;
    right:-105px;
    top: 40%;
}
.checkBoxBtnOn:hover {
    background-color: #9C93D1;
}
.checkBoxBtnOn:active {
    background-color: #9EB9D3;
}
.season {
    top: 42%;
}
.brands {
    top: 70%;
}
.vehicleType {
    top: 60%;
}
.studded {
    top: 35%;
}
.speedIndex {
    top: 65%;
}
.loadIndex {
    top: 70%;
}
.homologation {
    top: 76%;
}
.runFlat {
    top: 75%;
}
.reinforced {
    top: 90%;
}
.boltCount {
    top: 76%;
}
/* @media only screen and (max-width: 2560px) { 
    .checkBoxBtnOn {
        position: sticky;
        top: 95%;
        z-index: 9999;
    }
}
@media only screen and (max-width: 1440px) { 
    .checkBoxBtnOn {
        position: sticky;
        top: 95%;
        z-index: 9999;
    }
}
@media only screen and (max-width: 1024px) { 
    .checkBoxBtnOn {
        position: sticky;
        top: 95%;
        z-index: 9999;
    }
} */
@media only screen and (max-width: 768px) { 
    .checkBoxBtnOn {
        position: sticky;
        top: 95%;
        z-index: 9999;
    }
}
@media only screen and (max-width: 425px) { 
    .checkBoxBtnOn {
        position: sticky;
        top: 90%;
        right: 0px;
        z-index: 9999;
    }
}
@media only screen and (max-width: 375px) { 
    .checkBoxBtnOn {
        position: sticky;
        top: 95%;
        z-index: 9999;
    }
}
@media only screen and (max-width: 320px) { 
    .checkBoxBtnOn {
        position: sticky;
        top: 95%;
        z-index: 9999;
    }
}