.filterCatalogWheels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    /* border: 2px solid palevioletred; */
}

.filterWheelsOption {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:2px;
    font-family: var(--main-font-family);
}

.checkBoxWheelBtnOn {
    /* appearance: none; */
    position: absolute;
    cursor: pointer;
    background-color: #71C2FF;
    color: #444;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin: auto;
    width: 100px;
    height: auto;
    /* top: 68%; */
    right:-105px;
}
.checkBoxWheelBtnOn:hover {
    background-color: #9C93D1;
}
.checkBoxWheelBtnOn:active {
    background-color: #9EB9D3;
}

.brands {
    top: 70%;
}
.wheelType {
    top: 55%;
}
.boltCount {
    top: 30%;
}
.boltCountPcd {
    top: 85%;
}
.pcd2 {
    top: 80%;
}
.pcd {
    top: 72%;
}
.et {
    top: 66%;
}
.dia {
    top: 61%;
}
.wheelColor {
    top: 35%;
}