.filterCatalogTyres {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    /* border: 2px solid palevioletred; */
}

.filterCatalogTyresHeader {
    display: flex;
    width: 150px;
    flex-direction: row;
    gap: 5px;
    align-items:center;
    justify-content: space-around;
}

.filterTyresOption {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:2px;
    font-family: var(--main-font-family);
}

.checkBoxBtnOn {
    /* appearance: none; */
    position: absolute;
    cursor: pointer;
    background-color: #71C2FF;
    color: #444;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin: auto;
    width: 100px;
    height: auto;
    /* top: 68%; */
    right:-105px;
}
.checkBoxBtnOn:hover {
    background-color: #9C93D1;
}
.checkBoxBtnOn:active {
    background-color: #9EB9D3;
}
.season {
    top: 31%;
}
.brands {
    top: 70%;
}
.vehicleType {
    top: 60%;
}
.studded {
    top: 35%;
}
.speedIndex {
    top: 65%;
}
.loadIndex {
    top: 68%;
}
.homologation {
    top: 75%;
}
.runFlat {
    top: 70%;
}
.reinforced {
    top: 76%;
}
.boltCount {
    top: 76%;
}