.inputDataTel {
    appearance: none;
    font-size: 16px;
    font-family: var(--main-font-family);
    border:solid 3px #ccc;
    border-radius:5px;
    padding: 3px;
}

.inputDataTel:hover, .inputDataTel:focus {
 
    border: solid 3px #71C2FF;

}

.inputDataTel:hover + .inputDataTelLabel {
  
    top: 326px;
    left: 105px;
    padding: 1px;
    font-size: 10px;
} 

.inputDataTel:focus + .inputDataTelLabel {
  
   top: 326px;
   left: 105px;
   padding: 1px;
   font-size: 10px;
} 
/*-------------------------------------------------*/
.inputDataTelLabel {
    position: absolute;
    top: 332px;
    left: 75px;
    color:#9999;
    transition: top 0.2s;
    background-color:#ffff;
    font-size: 14px;
    border-radius:5px;
    padding: 3px;
    
}

.inputDataTelLabelActive {
    position: absolute;
    top: 326px;
    left: 105px;
    color:#9999;
    transition: top 0.2s;
    background-color:#ffff;
    padding: 1px;
    font-size: 10px;
   
}

.inputDataTelLabel:hover {
  
    top: 326px;
    left: 105px;
    padding: 1px;
    font-size: 10px;

} 

.inputDataTelSpan {
    color:red;
}

