.inputDataTelLabel {
    position: absolute;
    width:fit-content;
    top: 331px;
    left: 75px;
    color:#9999;
    transition: top 0.5s;
    background-color:#ffff;
    font-size: 14px;
    border: blue 3px solid;
    border-radius:5px;
    padding: 3px;
    z-index: 1;
}

.inputDataTelLabelActive {
    position: absolute;
    top: 322px;
    left: 100px;
    color:#9999;
    transition: top 0.5s;
    background-color:#ffff;
    padding: 1px;
    font-size: 10px;
    z-index: 1;
}

.inputDataTelLabel:hover {
  
    transform: scale(0.6) translate(-20%, -100%);

} 

.inputDataTelSpan {
    color:red;
}


