.inputDataTel {
    appearance: none;
    font-size: 16px;
    font-family: var(--main-font-family);
    border:solid 2px #9999;
    border-radius: 10px;
    padding: 3px;
    width: 315px;
}

.inputDataTel:hover, .inputDataTel:focus {
 
    border: solid 2px #999;

}

.inputDataTel:hover + .inputDataTelLabel {
  
    top: 390px;
    left: 240px;
    padding: 1px;
    font-size: 8px;
    width: 150px;
} 

.inputDataTel:focus + .inputDataTelLabel {
  
    top: 390px;
    left: 240px;
    padding: 1px;
    font-size: 8px;
    width: 150px;
} 
/*-------------------------------------------------*/
.inputDataTelLabel {
    position: absolute;
    top: 406px;
    left: 90px;
    color:#999;
    transition: top 0.2s;
    background-color:#ffff;
    font-size: 16px;
    border: solid 1px #ffff;
    border-radius:10px;
    padding: 1px;
    width: 310px;
    height: 27px;
    text-align: center;
    vertical-align: middle;
}

.inputDataTelLabel:hover {
    top: 390px;
    left: 240px;
    padding: 1px;
    font-size: 8px;
    width: 150px;
} 

.inputDataTelLabelActive {
    position: absolute;
    top: 390px;
    left: 240px;
    padding: 1px;
    font-size: 8px;
    width: 150px;

    color:#999;
    transition: top 0.2s;
    background-color:#ffff;
    /* border: solid 2px #9999; */
    border-radius:10px;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
}

.inputDataTelSpan {
    color:red;
}

