.ratingBox {
    display: inline;
}
.ratingStar {
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    justify-content: flex-start;
    width:fit-content;
    font-size: 1rem;
    font-family: var(--main-font-family);
    margin: 0px;
}
.ratingStar:not(:checked)>input {
    display: none;
}

.ratingStar label {
    width: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #666;
    text-align: center;
    line-height: 1;
    content:icon('fas fa-star', 'fas fa-star-half-alt');
}

.ratingStar label:hover, .ratingStar label:hover ~ label{
    color: orange;
}

.ratingStar .checked {
    color: orange;
}

.ratingNumber {
    text-align: center;
    vertical-align:middle;
    margin-top: 1px;
    margin-left: 2px;
    font-size: 15px;
    font-family: var(--main-font-family);
    font-weight: bold;
    color:#444B54;
    background-color:orange;
    border-radius:25px;
    width: 30px;
    height: 20px;
}