.ratingOptions {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    /* align-items:normal; */
    gap: 15px;
    /* vertical-align:middle; */
}

.nameRating {
    width: 104px;
}

.ratingBoxStar {
    width: 90px;
    vertical-align:middle;
}

@media only screen and (max-width: 768px){
    .ratingOptions {
        flex-direction: column;
    }
}

@media only screen and (max-width: 425px){
    .ratingOptions {
        flex-direction: column;
    }
}

@media only screen and (max-width: 375px){
    .ratingOptions {
        flex-direction: column;
    }
}

@media only screen and (max-width: 320px){
    .ratingOptions {
        flex-direction: column;
    }
}