.ratingOptions {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    /* align-items:normal; */
    gap: 15px;
    /* vertical-align:middle; */
}

.nameRating {
    width: 104px;
}

.ratingBoxStar {
    width: 90px;
    vertical-align:middle;
}