.thumbs .countThumb {
    margin: 4px 4px 4px 4px;
    padding:2px 8px 5px 8px;
    border-radius: 15px;
    background-color: #CADBEA;
    vertical-align: middle;
}

.thumbs .noCountThumb {
    margin: 4px 4px 4px 4px;
    padding:2px 8px 5px 8px;
    border-radius: 15px;
    /* background-color: #CADBEA; */
    vertical-align: middle;
}

.thumbs .thumbsNumber {
    /* margin: 4px 2px 4px 2px; */
    padding: 1px 5px 0.5px 5px;
    vertical-align:middle;
    border-radius: 15px;
    background-color: orange;
}

.thumbs .upThumb {
    width: 30px;
    height: 30px;
    cursor: pointer;
    content: url('../../../public/iconThumbs/thumbs_up.png');
    vertical-align:middle;
}
.thumbs .upThumb:hover {
    cursor: pointer;
    content: url('../../../public/iconThumbs/thumbs_up_hover.png');    
}
.thumbs .upThumb:active {
    transition-duration: 2s;
    animation: 1.5s ease-in-out 0s normal none infinite running trambling-animation;
    cursor: pointer;
    content: url('../../../public/iconThumbs/thumbs_up_filled.png'); 
}

.thumbs .downThumb {
    width: 30px;
    height: 30px;
    cursor: pointer;
    content: url('../../../public/iconThumbs/thumbs_down.png');
    vertical-align:middle;
}
.thumbs .downThumb:hover {
    cursor: pointer;
    content: url('../../../public/iconThumbs/thumbs_down_hover.png');    
}
.thumbs .downThumb:active {
    transition-duration: 2s;
    /* transition-timing-function: 2.5s; */
    animation: 1.5s ease-in-out 0s normal none infinite running trambling-animation;
    cursor: pointer;
    content: url('../../../public/iconThumbs/thumbs_down_filled.png'); 
}

@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-30deg);
    }
    20%, 40% {
        transform: rotate(30deg);
    }
}

.thumbs .downThumbsChecked {
    width: 30px;
    height: 30px;
    cursor: pointer;
    vertical-align:middle;
    content: url('../../../public/iconThumbs/thumbs_down_checked.png');    
}

.thumbs .upThumbChecked {
    width: 30px;
    height: 30px;
    cursor: pointer;
    vertical-align:middle;
    content: url('../../../public/iconThumbs/thumbs_up_checked.png');    
}